// html { // box-sizing: border-box; // } button { cursor: pointer; }
.accessories-background {
  width: 100%;
  position: relative;
  background-color: var(--main-color);
  background-image: url(../images/img-accessories/accessories-background.jpg);
  background-repeat: no-repeat;
  background-position: right -80px top -155px;
  background-size: auto;
  @media screen and (min-width: 768px) {
    background-image: url(../images/img-accessories/accessories-background-tab.jpg);
  }
}
.accessories-btn {
  padding-top: 40px;
  margin-bottom: 32px;
  @media screen and (min-width: 768px) {
    padding-top: 120px;
    margin-bottom: 72px;
  }
}
.accessories-buttons-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  gap: 24px;
  @media screen and (max-width: 767px) {
    padding-left: calc(50% - 136px);
    padding-right: calc(50% - 136px);
  }
  @media screen and (min-width: 768px) {
    gap: 53px;
  }
}
.accessories-button {
  display: flex;
  justify-content: center;
  align-items: center; // flex-basis: calc((100% - 72px) / 2); font-family: var(--main-font);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--accent-color);
  background-color: transparent;
  border-color: transparent;
  flex-basis: calc((100% - 24px) / 2);
  width: 124px;
  height: 35px;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: transparent;
  border: 1px solid var(--accent-color);
  border-radius: 16px;
  @media screen and (min-width: 768px) {
    width: 132px;
    height: 51px;
    padding-top: 16px;
    padding-bottom: 16px;
    flex-basis: auto;
  }
}
.accessories-button:hover,
.accessories-button:focus {
  background-color: var(--accent-color);
  color: var(--main-color);
}

.accessories-title {
  display: inline;
  font-family: var(--main-font);
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  padding-left: calc(50% - 140px);
  color: var(--text-color);

  @media screen and (min-width: 768px) {
    font-size: 56px;
    line-height: 1.18;
    padding-left: calc(50% - 245px);
  }
}
.accessories-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 27px;
  padding-bottom: 108px;
  gap: 36px;
  @media screen and (min-width: 768px) {
    flex-wrap: wrap;
    flex-direction: row;
    gap: 38px;
    padding-bottom: 188px;
  }
}

.accessories-picture {
  display: inline-block;
  background-size: cover;
  width: 285px;
  border: 1px solid var(--accent-color);
  border-radius: 12px;
  overflow: hidden;
}
.accessories-picture-title {
  max-width: 261px;
  font-family: var(--main-font);
  font-weight: 600;
  font-size: 22px;
  line-height: 26px;
  color: var(--accent-color);
}
.accessories-price-normal {
  height: 14px;
  font-family: var(--main-font);
  font-weight: 600;
  font-size: 14px;
  line-height: 1;
  text-decoration-line: line-through;
  color: var(--second-text-color);
}
.accessories-price-less {
  height: 20px;
  font-family: var(--main-font);
  font-weight: 600;
  font-size: 20px;
  line-height: 1;
  color: var(--accent-color);
}
.accessories-picture-container {
  position: relative;
  overflow: hidden;
  height: 278px;
  margin-bottom: 8px;
}
.accessories-text-hidden {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  max-width: 285px;
  height: 276px;
  padding: 16px 16px 52px 16px;
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  color: var(--text-color);
  background-color: var(--main-color);
  border: 1px solid var(--accent-color);
  box-shadow: 0px 4px 4px rgba(134, 229, 67, 0.2);
  border-radius: 12px;
  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.accessories-link:hover .accessories-text-hidden,
.accessories-link:focus .accessories-text-hidden {
  transform: translateY(0%);
}
.accessories-text-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 16px;
}
.accessories-price-list {
  display: flex;
  margin-top: 8px;
  padding-left: 8px;
  justify-content: space-between;
  align-items: baseline;
}
.accessories-tablet {
  @media screen and (max-width: 767px) {
    display: none;
  }
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
    gap: 38px;
  }
}
.accessories-mobile {
  display: flex;
  flex-direction: column;
  gap: 38px;
}

// line

.accessories-linewrap-top,
.accessories-linewrap-bottom {
  display: flex;
  gap: calc(100% / 2);
  @include desktop {
    gap: calc(100% / 1.5);
  }
  width: 100%;
  position: absolute;
  left: 0;
}

.accessories-linewrap-top {
  height: 8px;
  top: 193px;
  @include tablet {
    height: 19px;
    top: 309px;
  }
}

.accessories-line1 {
  width: calc(100% * 0.5);
  height: 8px;
  @include tablet {
    height: 19px;
    box-shadow: 0px 23px 25px -10px rgba(123, 227, 74, 0.25);
  }
  border-bottom: 1px solid #7be34a;
  box-shadow: 0px 12px 25px -3px rgba(123, 227, 74, 0.25);
}

.accessories-line3 {
  width: calc(100% - 100% * 0.5);
  height: 1px;
  border-top: 1px solid #7be34a;
  box-shadow: 0px 4px 25px rgba(123, 227, 74, 0.25);
}

.accessories-linewrap-bottom {
  height: 7px;
  top: 198px;
  @include tablet {
    height: 19px;
    top: 318px;
  }
}

.accessories-line2 {
  width: calc(100% * 0.5);
  height: 7px;
  @include tablet {
    height: 19px;
    box-shadow: 0px 23px 25px -10px rgba(40, 120, 13, 0.25);
  }
  border-bottom: 1px solid #28780d;
  box-shadow: 0px 12px 25px -3px rgba(40, 120, 13, 0.25);
}

.accessories-line4 {
  width: calc(100% - 100% * 0.5);
  height: 1px;
  border-top: 1px solid #28780d;
  box-shadow: 0px 4px 25px rgba(40, 120, 13, 0.25);
}

.accessories-sale__decor {
  position: relative;
  margin-bottom: 35px;
  @media screen and (min-width: 320px) {
    @media screen and (max-width: 479px) {
      width: 288px;
      margin: 0 auto 35px auto;
    }
  }
  @include tablet {
    margin-bottom: 51px;
  }
  @include desktop {
    margin-bottom: 43px;
  }
}

.accessories-border-wrap1,
.accessories-border-wrap2 {
  display: flex;
  width: 100%;
  position: absolute;
  left: 0;
}

.accessories-border-wrap1 {
  height: 8px;
  top: 27px;
  @include tablet {
    height: 19px;
    top: 66px;
  }
}

.accessories-border1 {
  height: 8px;
  width: 170px;
  @include mobile {
    width: 260px;
  }
  @include tablet {
    height: 19px;
    width: 500px;
    box-shadow: 0px 23px 25px -10px rgba(123, 227, 74, 0.25);
  }
  border: 1px solid #7be34a;
  border-top: none;
  border-left: none;
  box-shadow: 0px 12px 25px -3px rgba(123, 227, 74, 0.25);
}

.accessories-border3 {
  height: 1px;
  width: calc(100% - 170px);
  @include mobile {
    width: calc(100% - 260px);
  }
  @include tablet {
    width: calc(100% - 500px);
  }
  border-top: 1px solid #7be34a;
  box-shadow: 0px 4px 25px rgba(123, 227, 74, 0.25);
}

.accessories-border-wrap2 {
  height: 7px;
  top: 32px;
  @include tablet {
    height: 19px;
    top: 75px;
  }
}

.accessories-border2 {
  height: 7px;
  width: 180px;
  @include mobile {
    width: 270px;
  }
  @include tablet {
    height: 19px;
    width: 510px;
    box-shadow: 0px 23px 25px -10px rgba(40, 120, 13, 0.25);
  }
  border: 1px solid #28780d;
  border-top: none;
  border-left: none;
  box-shadow: 0px 12px 25px -3px rgba(40, 120, 13, 0.25);
}

.accessories-border4 {
  height: 1px;
  width: calc(100% - 180px);
  @include mobile {
    width: calc(100% - 297px);
  }
  @include tablet {
    width: calc(100% - 510px);
  }
  border-top: 1px solid #28780d;
  box-shadow: 0px 4px 25px rgba(40, 120, 13, 0.25);
}
