// html { // box-sizing: border-box; // } button { cursor: pointer; }
.accessories-background {
  width: 100%;
  position: relative;
  background-color: var(--main-color);
  background-image: url(../images/img-accessories/accessories-background.jpg);
  background-repeat: no-repeat;
  background-position: right -80px top -155px;
  background-size: auto;
  @media screen and (min-width: 768px) {
    background-image: url(../images/img-accessories/accessories-background-tab.jpg);
  }
  @media screen and (min-width: 1280px) {
    background-image: url(../images/img-accessories/accessories-background-desc.jpg);
    background-position: right -80px top -100px;
  }
}
.accessories-btn {
  padding-top: 40px;
  margin-bottom: 32px;
  @media screen and (min-width: 768px) {
    padding-top: 120px;
    margin-bottom: 72px;
  }
}
.accessories-buttons-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  gap: 24px;
  @media screen and (max-width: 767px) {
    padding-left: calc(50% - 136px);
    padding-right: calc(50% - 136px);
  }
  @media screen and (min-width: 768px) {
    gap: 53px;
  }
}
.accessories-button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--accent-color);
  background-color: transparent;
  border-color: transparent;
  flex-basis: calc((100% - 24px) / 2);
  width: 124px;
  height: 35px;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: transparent;
  border: 1px solid var(--accent-color);
  border-radius: 16px;
  @media screen and (min-width: 768px) {
    width: 132px;
    height: 51px;
    padding-top: 16px;
    padding-bottom: 16px;
    flex-basis: auto;
  }
}
.accessories-button:hover,
.accessories-button:focus {
  background-color: var(--accent-color);
  color: var(--main-color);
}

.accessories-title {
  display: inline;
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  padding-left: calc(50% - 140px);
  color: var(--text-color);

  @media screen and (min-width: 768px) {
    font-size: 56px;
    line-height: 1.18;
    padding-left: calc(50% - 245px);
  }
  @media screen and (min-width: 1280px) {
    padding-left: calc(50% - 757px);
  }
}
.accessories-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
  padding-bottom: 44px;
  gap: 36px;
  @media screen and (min-width: 768px) {
    flex-wrap: wrap;
    flex-direction: row;
    gap: 38px;
    padding-bottom: 52px;
    margin-top: 24px;
  }
  @media screen and (min-width: 1280px) {
    row-gap: 44px;
    column-gap: 20px;
  }
}

.accessories-picture {
  display: inline-block;
  background-size: cover;
  width: 285px;
  border: 1px solid var(--accent-color);
  border-radius: 12px;
  overflow: hidden;
}

.accessories-picture-title {
  width: 269px;
  padding-left: 8px;
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 22px;
  line-height: 1.18;
  color: var(--accent-color);
}
.accessories-price-normal {
  height: 14px;
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 1;
  text-decoration-line: line-through;
  color: var(--second-text-color);
}
.accessories-price-less {
  height: 20px;
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 20px;
  line-height: 1;
  color: var(--accent-color);
}
.accessories-picture-container {
  position: relative;
  overflow: hidden;
  height: 278px;
  margin-bottom: 8px;
}
.accessories-text-hidden {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  max-width: 285px;
  height: 276px;
  padding: 16px 16px 52px 16px;
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  color: var(--text-color);
  background-color: var(--main-color);
  border: 1px solid var(--accent-color);
  box-shadow: 0px 4px 4px rgba(134, 229, 67, 0.2);
  border-radius: 12px;
  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.accessories-link:hover .accessories-text-hidden,
.accessories-link:focus .accessories-text-hidden {
  transform: translateY(0%);
}
.accessories-text-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 16px;
}
.accessories-price-list {
  display: flex;
  margin-top: 8px;
  padding-left: 8px;
  justify-content: space-between;
  align-items: baseline;
}
.accessories-tablet {
  @media screen and (max-width: 767px) {
    display: none;
  }
  @media screen and (min-width: 768px) {
    display: block;
  }
}
.accessories-desc {
  display: none;
  @media screen and (min-width: 1280px) {
    display: block;
  }
}
.accessories-link2 {
  @include desktop {
    order: 2;
  }
}

.accessories-link3 {
  @include desktop {
    order: 3;
  }
}
.accessories-link4 {
  @include desktop {
    order: 4;
  }
}
// line
.accessories-linewrap-top,
.accessories-linewrap-bottom {
  position: absolute;
  left: 0;
  width: 100%;
  display: flex;
  gap: calc(100% / 2);
  @include mobile {
    gap: 448px;
  }
  @include tablet {
    gap: 688px;
  }
  @include desktop {
    gap: 1200px;
  }
}

.accessories-linewrap-top {
  height: 8px;
  top: 193px;
  @include tablet {
    height: 19px;
    top: 309px;
  }
}

.accessories-linewrap-bottom {
  height: 7px;
  top: 198px;
  @include tablet {
    height: 19px;
    top: 318px;
  }
}

.accessories-line1 {
  height: 8px;
  @include tablet {
    box-shadow: 0px 23px 25px -10px rgba(123, 227, 74, 0.25);
  }
  border-bottom: 1px solid var(--line-top);
  box-shadow: 0px 12px 25px -3px rgba(123, 227, 74, 0.25);
}

.accessories-line2 {
  height: 7px;
  @include tablet {
    box-shadow: 0px 23px 25px -10px rgba(40, 120, 13, 0.25);
  }
  border-bottom: 1px solid var(--line-bottom);
  box-shadow: 0px 12px 25px -3px rgba(40, 120, 13, 0.25);
}

.accessories-line1,
.accessories-line2,
.accessories-line3,
.accessories-line4 {
  width: calc(100% * 0.5);
  @include mobile {
    width: calc((100% - 448px) / 2);
  }
  @include tablet {
    width: calc((100% - 688px) / 2);
    height: 19px;
  }
  @include desktop {
    width: calc((100% - 1200px) / 2);
  }
}

.accessories-line3 {
  height: 1px;
  border-top: 1px solid var(--line-top);
  box-shadow: 0px 4px 25px rgba(123, 227, 74, 0.25);
}

.accessories-line4 {
  height: 1px;
  border-top: 1px solid var(--line-bottom);
  box-shadow: 0px 4px 25px rgba(40, 120, 13, 0.25);
}

.accessories-sale__decor {
  position: relative;
  margin-bottom: 27px;
  @media screen and (min-width: 320px) {
    @media screen and (max-width: 479px) {
      width: 288px;
      margin: 0 auto 35px auto;
    }
  }
  @include tablet {
    margin-bottom: 51px;
  }
  @include desktop {
    margin-bottom: 52px;
  }
}

.accessories-border-wrap1,
.accessories-border-wrap2 {
  display: flex;
  width: 100%;
  position: absolute;
  left: 0;
}

.accessories-border-wrap1 {
  height: 8px;
  top: 27px;
  @include tablet {
    height: 19px;
    top: 66px;
  }
}

.accessories-border1 {
  height: 8px;
  width: 180px;
  @include mobile {
    width: 260px;
  }
  @include tablet {
    height: 19px;
    width: 500px;
    box-shadow: 0px 23px 25px -10px rgba(123, 227, 74, 0.25);
  }
  border: 1px solid #7be34a;
  border-top: none;
  border-left: none;
  box-shadow: 0px 12px 25px -3px rgba(123, 227, 74, 0.25);
}

.accessories-border3 {
  height: 1px;
  width: calc(100% - 180px);
  @include mobile {
    width: calc(100% - 260px);
  }
  @include tablet {
    width: calc(100% - 500px);
  }
  border-top: 1px solid #7be34a;
  box-shadow: 0px 4px 25px rgba(123, 227, 74, 0.25);
}

.accessories-border-wrap2 {
  height: 7px;
  top: 32px;
  @include tablet {
    height: 19px;
    top: 75px;
  }
}

.accessories-border2 {
  height: 7px;
  width: 185px;
  @include mobile {
    width: 265px;
  }
  @include tablet {
    height: 19px;
    width: 510px;
    box-shadow: 0px 23px 25px -10px rgba(40, 120, 13, 0.25);
  }
  border: 1px solid #28780d;
  border-top: none;
  border-left: none;
  box-shadow: 0px 12px 25px -3px rgba(40, 120, 13, 0.25);
}

.accessories-border4 {
  height: 1px;
  width: calc(100% - 185px);
  @include mobile {
    width: calc(100% - 265px);
  }
  @include tablet {
    width: calc(100% - 510px);
  }
  border-top: 1px solid #28780d;
  box-shadow: 0px 4px 25px rgba(40, 120, 13, 0.25);
}

// animation
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 48px;
  @include tablet {
    padding-bottom: 120px;
  }
}
.wave {
  width: 16px;
  height: 16px;
  background: #ffffff;
  border-radius: 7px;
  margin: 16px;
  animation: wave 1s linear infinite;
}
.none {
  @media screen and (min-width: 1280px) {
    display: none;
  }
}
.wave:nth-child(2) {
  animation-delay: 0.1s;
}
.wave:nth-child(3) {
  animation-delay: 0.3s;
}
.wave:nth-child(4) {
  animation-delay: 0.5s;
}
.wave:nth-child(5) {
  animation-delay: 0.7s;
}
@keyframes wave {
  0% {
    transform: scaleX(0) scaleY(0);
  }
  25% {
    transform: scaleX(0.5) scaleY(0.5);
  }
  50% {
    transform: scaleX(2) scaleY(1);
  }
  75% {
    transform: scaleX(0.5) scaleY(0.5);
  }
  100% {
    transform: scaleX(0) scaleY(0);
  }
}
