.blog {
  position: relative;
  background-color: var(--main-color);
  margin: auto auto;
}
.fon-blog-container {
  padding-top: 40px;
  padding-bottom: 48px;
  max-width: 480px;
  background-image: url(../images/img-blog-page/1x-back-tablet-blog.jpg);
  background-image: url(../images/img-blog-page/2x-back-tablet-blog.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  @include tablet {
    padding-bottom: 35px;
    padding-top: 120px;
    max-width: 768px;
    background-image: url(../images/img-blog-page/1x-back-tablet-blog.jpg);
    background-image: url(../images/img-blog-page/2x-back-tablet-blog.jpg);
  }
  @include desktop {
    background-image: url(../images/img-blog-page/1x-back-desktop-blog.jpg);
    background-image: url(../images/img-blog-page/2x-back-desktop-blog.jpg);
    max-width: 1280px;
    padding-bottom: 48px;
  }
}
// ------------Desktop--------------

.blog-list__item {
  @include desktop {
    display: none;
  }
}
.container-desktop-blog {
  display: flex;
  gap: 121px;
  @media screen and (max-width: 1279px) {
    display: none;
  }
}
.blog-list__item-desktop:not(:last-child) {
  margin-bottom: 40px;
}
.container-desktop-autor {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}

// --------------------------------------------------
.blog-title {
  @include font(600, 24, 1.17, 0);
  color: var(--text-color);
  @include tablet {
    font-size: 56px;
    line-height: 1.18;
    padding-left: 99px;
  }
  @include desktop {
    font-size: 56px;
    line-height: 1.18;
    padding-left: 142px;
  }
}

.blog-list {
  margin-top: 21px;
  @include tablet {
    margin-top: 42px;
  }
  @include desktop {
    margin-top: 49px;
  }
}

.blog-article-title {
  font-family: var(--main-font);
  @include font(500, 24, 1.16, null);
  margin-bottom: 16px;
  color: var(--text-color);
  @include tablet {
    font-size: 56px;
    line-height: 1;
  }
  @include desktop {
    margin-bottom: 52px;
  }
}
.container-tablet-blog {
  @include tablet {
    display: flex;
    gap: 40px;
    margin-bottom: 16px;
  }
}

.container-tablet-autor {
  @include tablet {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
}
.blog-img {
  margin: 0 auto;
  width: 387px;
  @media screen and (min-width: 480px) and (max-width: 767px) {
    min-width: 480px;
    margin: 0 -16px 0 -16px;
  }
  @include tablet {
    max-width: 387px;
    border-radius: 12px;
    margin: 0;
  }
  @include desktop {
    max-width: 387px;
    margin: 0;
  }
}
.blog-autor {
  margin-top: 8px;
  margin-bottom: 8px;
  font-family: var(--main-font);
  @include font(500, 16, 1, 0);
  color: var(--text-color);
  @include tablet {
    font-size: 24px;
    line-height: 1;
    margin-bottom: 32px;
    margin-top: 0;
    width: 130px;
  }
  @include desktop {
    min-width: 248px;
    margin-bottom: 0;
  }
}
.blog-updated {
  margin-bottom: 16px;
  font-family: var(--main-font);
  @include font(500, 16, 1, 0);
  color: var(--second-text-color);
  @include tablet {
    font-size: 24px;
    line-height: 1;
    margin-bottom: 0;
  }
  @include desktop {
    margin-bottom: 0;
  }
}
.blog-text {
  font-family: var(--main-font);
  @include font(400, 16, 1.19, 0);
  color: var(--text-color);
  margin-bottom: 8px;
  @include tablet {
    font-size: 24px;
    line-height: 1.17;
    margin-bottom: 16px;
  }
}
.blog-learn-more {
  width: 82px;
  position: relative;
  font-family: var(--main-font);
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  @include font(500, 16, 1, 0);
  display: block;
  margin-left: auto;
  color: var(--accent-color);
  @include tablet {
    font-size: 24px;
    line-height: 1;
    width: 123px;
  }
}

.blog-learn-more:focus:after,
.blog-learn-more:hover:after {
  width: 100%;
  left: 0%;
}

.blog-learn-more:after {
  content: '';
  margin-left: auto;
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: var(--accent-color);
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}
// ------------------Border---------------------
.blog__line-wrap1,
.blog__line-wrap2 {
  position: absolute;
  left: 0;
  width: 100%;
  display: flex;
  gap: calc(100% / 2);
  @include mobile {
    gap: 448px;
  }
  @include tablet {
    gap: 688px;
  }
  @include desktop {
    gap: 1200px;
  }
}

.blog__line-wrap1 {
  height: 8px;
  top: 67px;
  @include tablet {
    height: 19px;
    top: 186px;
  }
}

.blog__line-wrap2 {
  height: 7px;
  top: 71px;
  @include tablet {
    height: 19px;
    top: 195px;
  }
}

.blog__line1 {
  height: 8px;
  @include tablet {
    box-shadow: 0px 23px 25px -10px rgba(123, 227, 74, 0.25);
  }
  border-bottom: 1px solid #7be34a;
  box-shadow: 0px 12px 25px -3px rgba(123, 227, 74, 0.25);
}

.blog__line2 {
  height: 7px;
  @include tablet {
    box-shadow: 0px 23px 25px -10px rgba(40, 120, 13, 0.25);
  }
  border-bottom: 1px solid #28780d;
  box-shadow: 0px 12px 25px -3px rgba(40, 120, 13, 0.25);
}

.blog__line1,
.blog__line2,
.blog__line3,
.blog__line4 {
  width: calc(100% * 0.5);
  @include mobile {
    width: calc((100% - 448px) / 2);
  }
  @include tablet {
    width: calc((100% - 688px) / 2);
    height: 19px;
  }
  @include desktop {
    width: calc((100% - 1200px) / 2);
  }
}

.blog__line3 {
  height: 1px;
  border-top: 1px solid #7be34a;
  box-shadow: 0px 4px 25px rgba(123, 227, 74, 0.25);
}

.blog__line4 {
  height: 1px;
  border-top: 1px solid #28780d;
  box-shadow: 0px 4px 25px rgba(40, 120, 13, 0.25);
}

.blog__decor {
  position: relative;
  margin-bottom: 31px;
  @media screen and (min-width: 320px) {
    @media screen and (max-width: 479px) {
      width: 288px;
      margin: 0 auto 31px auto;
    }
  }
  @include tablet {
    margin-bottom: 67px;
  }
  @include desktop {
    margin-bottom: 66px;
  }
}

.blog__border-wrap1,
.blog__border-wrap2 {
  display: flex;
  width: 100%;
  position: absolute;
  left: 0;
}

.blog__border-wrap1 {
  height: 8px;
  top: 27px;
  @include tablet {
    height: 19px;
    top: 66px;
  }
}

.blog__border1 {
  height: 8px;
  width: 117px;
  @include mobile {
    width: 121px;
  }
  @include tablet {
    height: 19px;
    width: 262px;
    box-shadow: 0px 23px 25px -10px rgba(123, 227, 74, 0.25);
  }
  border: 1px solid var(--line-top);
  border-top: none;
  border-left: none;
  box-shadow: 0px 12px 25px -3px rgba(123, 227, 74, 0.25);
}

.blog__border3 {
  height: 1px;
  width: calc(100% - 117px);
  @include mobile {
    width: calc(100% - 121px);
  }
  @include tablet {
    width: calc(100% - 244px);
  }
  border-top: 1px solid var(--line-top);
  box-shadow: 0px 4px 25px rgba(123, 227, 74, 0.25);
}

.blog__border-wrap2 {
  height: 7px;
  top: 31px;
  @include tablet {
    height: 19px;
    top: 75px;
  }
}

.blog__border2 {
  height: 7px;
  width: 123px;
  @include mobile {
    width: 125px;
  }
  @include tablet {
    height: 19px;
    width: 268px;
    box-shadow: 0px 23px 25px -10px rgba(40, 120, 13, 0.25);
  }
  border: 1px solid var(--line-bottom);
  border-top: none;
  border-left: none;
  box-shadow: 0px 12px 25px -3px rgba(40, 120, 13, 0.25);
}

.blog__border4 {
  height: 1px;
  width: calc(100% - 123px);
  @include mobile {
    width: calc(100% - 125px);
  }
  @include tablet {
    width: calc(100% - 254px);
  }
  border-top: 1px solid var(--line-bottom);
  box-shadow: 0px 4px 25px rgba(40, 120, 13, 0.25);
}

// --------Animation------------------------
.center_circle {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 48px;

  @include tablet {
    padding-bottom: 120px;
  }
  @include desktop {
    padding-bottom: 120px;
  }
}
.circle {
  width: 16px;
  height: 16px;
  background: #ffffff;
  border-radius: 7px;
  margin: 16px;
  animation: wave 1s linear infinite;
}
.circle:nth-child(2) {
  animation-delay: 0.1s;
}
.circle:nth-child(3) {
  animation-delay: 0.3s;
}
.circle:nth-child(4) {
  animation-delay: 0.5s;
}
.circle:nth-child(5) {
  animation-delay: 0.7s;
}
@keyframes circle {
  0% {
    transform: scaleX(0) scaleY(0);
  }
  25% {
    transform: scaleX(0.5) scaleY(0.5);
  }
  50% {
    transform: scaleX(2) scaleY(1);
  }
  75% {
    transform: scaleX(0.5) scaleY(0.5);
  }
  100% {
    transform: scaleX(0) scaleY(0);
  }
}
// --------------------
