.blog-article {
  background: #01383a;
  background-image: url(../images/img-blog-article/blog-article-bac/background-mob.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 48px;
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/img-blog-article/blog-article-bac/background-mob-2x.jpg);
  }
  @include mobile {
    background: #01383a;
    background-image: url(../images/img-blog-article/blog-article-bac/background-mob.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 480px;
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 48px;
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/img-blog-article/blog-article-bac/background-mob-2x.jpg);
    }
  }
  @include tablet {
    background: #01383a;
    background-image: url(../images/img-blog-article/blog-article-bac/background-tabl.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 768px;
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 48px;
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/img-blog-article/blog-article-bac/background-tabl-x2.jpg);
    }
  }
  @include desktop {
    background: #01383a;
    background-image: url(../images/img-blog-article/blog-article-bac/background-desk.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 1280px;
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 48px;
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/img-blog-article/blog-article-bac/background-desk-x2.jpg);
    }
  }
}

.blar-main-text {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  color: var(--text-color);
  @include tablet {
    font-weight: 500;
    font-size: 56px;
    line-height: 1;
    color: var(--text-color);
  }
}

.blar-decor {
  position: relative;
  margin-bottom: 35px;
  @include tablet {
    display: none;
  }
}

.blar-border-wrap1,
.blar-border-wrap2 {
  display: flex;
  width: 100%;
  position: absolute;
  left: 0;
}

.blar-border-wrap1 {
  height: 8px;
  top: 27px;
  // @include tablet {
  //   height: 19px;
  //   top: 66px;
  // }
}

.blar-border1 {
  height: 8px;
  width: 117px;
  // @include tablet {
  //   height: 19px;
  //   width: 244px;
  //   box-shadow: 0px 23px 25px -10px rgba(123, 227, 74, 0.25);
  // }
  border: 1px solid #7be34a;
  border-top: none;
  border-left: none;
  box-shadow: 0px 12px 25px -3px rgba(123, 227, 74, 0.25);
}

.blar-border3 {
  height: 1px;
  width: calc(100% - 117px);
  // @include tablet {
  //   width: calc(100% - 244px);
  // }
  border-top: 1px solid #7be34a;
  box-shadow: 0px 4px 25px rgba(123, 227, 74, 0.25);
}

.blar-border-wrap2 {
  height: 7px;
  top: 31px;
  // @include tablet {
  //   height: 19px;
  //   top: 75px;
  // }
}

.blar-border2 {
  height: 7px;
  width: 123px;
  // @include tablet {
  //   height: 19px;
  //   width: 254px;
  //   box-shadow: 0px 23px 25px -10px rgba(40, 120, 13, 0.25);
  // }
  border: 1px solid #28780d;
  border-top: none;
  border-left: none;
  box-shadow: 0px 12px 25px -3px rgba(40, 120, 13, 0.25);
}

.blar-border4 {
  height: 1px;
  width: calc(100% - 123px);
  // @include tablet {
  //   width: calc(100% - 254px);
  // }
  border-top: 1px solid #28780d;
  box-shadow: 0px 4px 25px rgba(40, 120, 13, 0.25);
}

.mob-lin-top {
  @include tablet {
    display: none;
  }
}

.mob-lin-bottom {
  @include tablet {
    display: none;
  }
  margin-top: -55px;
}

.blar-mob-picture {
  padding-top: 31px;
  @include tablet {
    display: none;
  }
}

.container-lin-top {
  width: 100%;
  @media screen and (max-width: 767px) {
    display: none;
  }
}

.container-lin-bottom {
  @media screen and (max-width: 767px) {
    display: none;
  }
  margin-top: -60px;
}

.container-picture {
  @media screen and (max-width: 767px) {
    display: none;
  }
  display: flex;
  flex-wrap: wrap;
}

.blr-text-picture {
  @include tablet {
    padding-left: 40px;
    padding-top: 100px;
  }
  @include desktop {
    display: flex;
    flex-wrap: wrap;
    padding-top: 0;
    padding-left: 450px;
    margin-top: -340px;
  }
}

.text-picture-top {
  @media screen and (min-width: 767px) {
    font-weight: 500;
    font-size: 24px;
    line-height: 100%;
    color: var(--accent-color);
    width: 248px;
    height: 48px;
  }
  @include desktop {
    width: 249px;
  }
}

.text-picture-bottom {
  @media screen and (max-width: 1279px) {
    font-weight: 500;
    font-size: 24px;
    line-height: 100%;
    color: var(--second-text-color);
    padding-top: 32px;
    width: 261px;
    height: 48px;
  }
  @include desktop {
    font-weight: 500;
    font-size: 24px;
    line-height: 100%;
    color: var(--second-text-color);
    padding-left: 96px;
  }
}

.blar-text-desk {
  @media screen and (max-width: 1279px) {
    display: none;
  }
  width: 690px;
}

.text-none-tabl {
  width: 690px;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.16;
  color: var(--text-color);
}

.blar-text-mob {
  @include tablet {
    display: none;
  }
}

.blar-top-text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  color: var(--text-color);
  padding-top: 20px;
}

.blar-bottom-text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  color: var(--second-text-color);
  padding-top: 8px;
}

.container-mob {
  padding-left: 16px;
  padding-right: 16px;
  width: 100%;
  margin: 0 auto;
}

.text-none-desk {
  @include desktop {
    display: none;
  }
}

.blar-page-text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  color: var(--text-color);
  padding-top: 8px;
  padding-bottom: 27px;
  @include tablet {
    font-weight: 400;
    font-size: 24px;
    line-height: 1.16;
    color: var(--text-color);
    padding-top: 16px;
  }
}

.blar-filling-text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  color: var(--text-color);
  padding-bottom: 27px;
  @include tablet {
    font-weight: 400;
    font-size: 24px;
    line-height: 1.16;
    color: var(--text-color);
    padding-top: 16px;
  }
}

.blar-akcent-text {
  @include tablet {
    font-weight: 400;
    font-size: 24px;
    line-height: 1.16;
    color: var(--accent-color);
    padding-top: 16px;
  }
}

.blar-desk-text {
  @include desktop {
    width: 600px;
    font-weight: 400;
    font-size: 24px;
    line-height: 1.16;
    color: var(--accent-color);
    padding-top: 16px;
    padding-left: 20px;
  }
}

.blar-num-text {
  @media screen and (min-width: 320px) {
    margin-top: -25px;
    margin-left: -20px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    color: var(--accent-color);
    padding-bottom: 10px;
  }
  @include tablet {
    font-weight: 400;
    font-size: 24px;
    line-height: 1.16;
    color: var(--accent-color);
    margin-left: 10px;
  }
  @include desktop {
    margin-left: 20px;
  }
}

.blar-filling-bottom {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  color: var(--text-color);
  padding-bottom: 3px;
  @include tablet {
    font-weight: 400;
    font-size: 24px;
    line-height: 1.16;
    color: var(--text-color);
  }
}
