// .blog-page {
//   background-color: #01383a;
// }

.blog {
  background-color: #01383a;
  // padding-top: 40px;
  // padding-bottom: 48px;
  margin: 0 auto;
  max-width: 480px;
  background-image: url(../images/img-blog-page/1x-back-tablet-blog.jpg);
  background-image: url(../images/img-blog-page/2x-back-tablet-blog.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  @include tablet {
    max-width: 768px;
    background-image: url(../images/img-blog-page/1x-back-tablet-blog.jpg);
    background-image: url(../images/img-blog-page/2x-back-tablet-blog.jpg);
  }
  @include desktop {
    background-image: url(../images/img-blog-page/1x-back-desktop-blog.jpg);
    background-image: url(../images/img-blog-page/2x-back-desktop-blog.jpg);
    max-width: 1280px;
    padding-top: 120px;
    // padding-bottom: 120px;
  }
}
// ------------Desktop--------------

.blog-list__item {
  @include desktop {
    display: none;
  }
}
.container-desktop-blog {
  display: flex;
  gap: 120px;
  @media screen and (max-width: 1279px) {
    display: none;
  }
}
.blog-list__item-desktop:not(:last-child) {
  margin-bottom: 40px;
}
.container-desktop-autor {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}

// --------------------------------------------------
.blog-title {
  @include font(600, 24px, 1.17, null);
  color: var(--text-color);
  @include tablet {
    font-size: 56px;
    line-height: 1.18;
    padding-left: 59px;
  }
  @include desktop {
    font-size: 56px;
    line-height: 1.18;
    padding-left: 97px;
  }
}

.blog-list {
  padding-top: 24px;
  // padding-bottom: 24px;
  @include tablet {
    padding-top: 42px;
    // padding-bottom: 42px;
  }
  @include desktop {
    padding-top: 48px;
    // padding-bottom: 48px;
  }
}

.blog-list:not(:last-child) {
  margin-bottom: 24px;
}
.blog-article-title {
  font-family: var(--main-font);
  @include font(500, 24, 1.16, null);
  margin-bottom: 16px;
  color: var(--text-color);
  @include tablet {
    font-size: 56px;
    line-height: 1;
  }
  @include desktop {
    margin-bottom: 52px;
  }
}
.container-tablet-blog {
  @include tablet {
    display: flex;
    gap: 40px;
    margin-bottom: 16px;
  }
}

.container-tablet-autor {
  @include tablet {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
}
.blog-img {
  margin: 0 auto;
  @include mobile {
    min-width: 480px;
    margin: 0 -16px 0 -16px;
  }
  @include tablet {
    border-radius: 12px;
    margin: 0;
  }
  @include desktop {
    margin: 0;
  }
}
.blog-autor {
  margin-top: 8px;
  margin-bottom: 8px;
  font-family: var(--main-font);
  @include font(500, 16, 1, null);
  color: var(--text-color);
  @include tablet {
    font-size: 24px;
    line-height: 1;
    margin-bottom: 32px;
    margin-top: 0;
    width: 130px;
  }
  @include desktop {
    min-width: 248px;
    margin-bottom: 0;
  }
}
.blog-updated {
  margin-bottom: 16px;
  font-family: var(--main-font);
  @include font(500, 16, 1, null);
  color: var(--second-text-color);
  @include tablet {
    font-size: 24px;
    line-height: 1;
    margin-bottom: 0;
  }
  @include desktop {
    margin-bottom: 0;
  }
}
.blog-text {
  font-family: var(--main-font);
  @include font(400, 16, 1.19, null);
  color: var(--text-color);
  @include tablet {
    font-size: 24px;
    line-height: 1.17;
  }
}
.blog-learn-more {
  font-family: var(--main-font);
  @include font(500, 16, 1, null);
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
  color: var(--accent-color);
  @include tablet {
    font-size: 24px;
    line-height: 1;
  }
  // &:hover {
  //   font-size: 20px;
  // }
}
// ------------------Border---------------------
.container-border {
  position: relative;
}
.container-border1 {
  display: flex;
  width: 100%;
}
.border-bottom1 {
  padding: 0;
  margin: 0;
  width: 42vw;
  height: 8px;
  @include tablet {
    width: 34vw;
    height: 16px;
  }
  @include desktop {
    width: 20vw;
    height: 19px;
  }
  border-bottom: 1px solid #7be34a;
  // box-shadow: 0px 4px 25px rgba(123, 227, 74, 0.25);
  border-right: 1px solid #7be34a;
}
.border-top1 {
  width: 58vw;
  height: 8px;
  @include tablet {
    width: 66vw;
    height: 16px;
  }
  @include desktop {
    width: 80vw;
    height: 19px;
  }
  border-top: 1px solid #7be34a;
  // box-shadow: 0px 4px 25px rgba(123, 227, 74, 0.25);
}
.container-border2 {
  position: absolute;
  top: 4px;
  display: flex;
  width: 100%;
  @include tablet {
    top: 8px;
  }
  @include desktop {
    top: 8px;
  }
}
.border-bottom2 {
  width: 43vw;
  height: 7px;
  @include tablet {
    width: 35vw;
    height: 16px;
  }
  @include desktop {
    width: 21vw;
    height: 19px;
  }
  border-bottom: 1px solid #28780d;
  box-shadow: 0px 4px 25px rgba(40, 120, 13, 0.25);
  border-right: 1px solid #28780d;
}
.border-top2 {
  width: 57vw;
  height: 7px;
  @include tablet {
    width: 65vw;
    height: 16px;
  }
  @include desktop {
    width: 79vw;
    height: 19px;
  }
  border-top: 1px solid #28780d;
  // box-shadow: 0px 4px 25px rgba(40, 120, 13, 0.25);
}

// --------Animation------------------------
.center_circle {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 48px;
  padding-top: 48px;
  @include tablet {
    padding-top: 35px;
    padding-bottom: 120px;
  }
  @include desktop {
    padding-top: 48px;
    padding-bottom: 120px;
  }
}
.circle {
  width: 16px;
  height: 16px;
  background: #ffffff;
  border-radius: 7px;
  margin: 16px;
  animation: wave 1s linear infinite;
}
.circle:nth-child(2) {
  animation-delay: 0.1s;
}
.circle:nth-child(3) {
  animation-delay: 0.3s;
}
.circle:nth-child(4) {
  animation-delay: 0.5s;
}
.circle:nth-child(5) {
  animation-delay: 0.7s;
}
@keyframes circle {
  0% {
    transform: scaleX(0) scaleY(0);
  }
  25% {
    transform: scaleX(0.5) scaleY(0.5);
  }
  50% {
    transform: scaleX(2) scaleY(1);
  }
  75% {
    transform: scaleX(0.5) scaleY(0.5);
  }
  100% {
    transform: scaleX(0) scaleY(0);
  }
}
