.contacts-container {
    background: #01383A;;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    flex-grow: 1;
    max-width: 1280px;
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 48px;
    background-image: url(../images/contacts/contacts-bg-mob-1.jpg);

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        background-image: url(../images/contacts/contacts-bg-mob-2.jpg);
    }

         @media screen and (min-width: 768px) {
            padding-top: 120px;
            padding-bottom: 120px;
            padding-left: 40px;
            padding-right: 40px;
             background-image: url(../images/contacts/contacts-bg-tab-1.jpg);
            @media (min-device-pixel-ratio: 2),
                (min-resolution: 192dpi),
                (min-resolution: 2dppx) {
                    background-image: url(../images/contacts/contacts-bg-tab-2.jpg);
                }
         }
         @media screen and (min-width:1280px) {
            padding-top: 120px;
            padding-bottom: 120px;
            padding-left: 40px;
            padding-right: 40px;
             max-width: 1280px;
             background-image: url(../images/contacts/contacts-bg-des-1.jpg);
            @media (min-device-pixel-ratio: 2),
                (min-resolution: 192dpi),
                (min-resolution: 2dppx) {
                    background-image: url(../images/contacts/contacts-bg-des-2.jpg);
                }
         }
}

.contacts-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 1.17;
    color: var(--text-color);

    margin-bottom: 4px;
    

    @media screen and (min-width: 768px) {
            margin-bottom: 8px;
            padding-left: 59px;
            font-size: 56px;
            line-height: 1.18;
        }   
@media screen and (min-width: 1200px) {
    padding-left: 102px;
    font-weight: 500;
    font-size: 56px;
    line-height: 1.17;
}

}

.contacts-img {
    display: flex;
        align-items: center;
        justify-content: center;

        @media screen and (min-width: 768px) {
                height: 346px;
                width: 688px;
            }
        @media screen and (min-width: 1200px){
                width: 100%;
            }
}

.contacts-img>img {
    @media screen and (max-width: 1280px) {
        display: block;
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}
.other{
    @media screen and (min-width: 1200px){
    display: flex;
    justify-content: space-between;
}
}
.contacts-text {
    font-weight: 400;
        font-size: 16px;
        line-height: 1.19;
        color: var(--text-color);
        margin-top: 16px;


        @media screen and (min-width: 768px) {
        margin-top: 32px;          
        }
        @media screen and (min-width: 1200px){
      margin-top: 60px;
      width: 488px;
      height: 112px;
      font-weight: 400;
     font-size: 24px;
     line-height: 1.14;
        }
        
}

.contacts-text-mail {
    margin-top: 22px;
}

.contacts-block {
    margin-top: 24px;
    margin-bottom: 24px;

@media screen and (min-width: 768px) {
     margin-top: 32px;
     margin-bottom: 40px;
                 }
@media screen and (min-width: 1200px){
margin-top: 40px;
margin-bottom: 40px;
}
}

.contacts-block-list {
    @media screen and (min-width: 768px) {
        display: flex;
    }
    
}

.contacts-block-list {
    @media screen and (min-width: 768px) {
    display: flex;
     gap: 32px;       
        }
    @media screen and (min-width: 1200px){
display: block;
    }
    
}

.contacts-mail-text {
    font-weight: 400;
        font-size: 16px;
        line-height: 1.19;
        color: var(--text-color);
}

.contacts-mail {
    font-weight: 400;
        font-size: 16px;
        line-height: 1.19;
        text-transform: capitalize;
        color: #8D9289;
        margin-top: 8px;
        margin-bottom: 24px;
        @media screen and (min-width: 1200px){
            margin-top: 0px;
            margin-bottom: 0px;
        }
}

.contacts-phone {
    font-weight: 400;
        font-size: 16px;
        line-height: 1.19;
    
        color: var(--text-color);
        margin-bottom: 8px;
        @media screen and (min-width: 1200px){
            margin-top: 40px;
        }
}

.phone-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 8px;
    @media screen and (min-width: 1200px){
    display:block;
    }
   
}

.phone-item {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.01em;
    text-transform: capitalize;

        color: #8D9289;
        @media screen and (min-width: 1200px){
            font-weight: 400;
            font-size: 24px;
            line-height: 1.16;
            letter-spacing: 0.01em;
            margin-top: 8px;
        }
}
.contacts-bottom{
    @media screen and (min-width: 1200px){
    margin-top: 58px;
    margin-left: 60px;
    max-width: 589px;
    }
}
.contacts-top{
    display: block;
}
.contacts-us {
    font-weight: 600;
    font-size: 24px;
    line-height: 1.17;
    margin-bottom: 16px;
    
    
    color: #86E543;

        @media screen and (min-width: 768px) {
        font-weight: 600;
            font-size: 36px;
            line-height: 42px;
            padding-left: 49px;
            margin-bottom: 48px;
        }
        @media screen and (min-width: 1200px) {
            padding-left: 0px;
        }
}

.contacts-form {
    
                @media screen and (min-width: 768px) {
                    padding-left: 49px;
                }
                @media screen and (min-width: 1200px){
                    padding-left: 0px;
                }
}

.contacts-form-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;
}

.form-input {
    background-color: transparent;
    border-bottom: 1px solid #86E543;
    border-top: none;
    border-left: none;
    border-right: none;
    cursor: pointer;
    
        width: 288px;
        @media screen and (min-width: 768px) {
            width: 591px;
        }
}

::placeholder {
    color: var(--text-color);
    opacity: 1;
}

.label-text-contacts {
    font-weight: 400;
        font-size: 16px;
        line-height: 1.25;
    
        text-transform: capitalize;
    
        color: var(--text-color);
}

.label-text-textarea {
    font-weight: 400;
        font-size: 16px;
        line-height: 1.25;
        color: #CDCDCD;
        margin-bottom: 4px;
}

textarea {
    resize: none;
    width: 100%;
    height: 95px;
    padding-left: 16px;
    background-color: transparent;
    border: 1px solid #86E543;
        border-radius: 0px;

        @media screen and (min-width: 768px) {
            height: 120px;
            width: 589px;
        }
    
    
    cursor: pointer;
    padding: 12px 16px;

    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;

    color: rgba(117, 117, 117, 0.5);

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:focus {
        border-color: var(--blue-color);
    }
}

.contacts-btn {
    display: block;
    margin-right: 0 auto;
    margin-left: 0 auto;
    min-width: 173px;
    height: 51px;
    background-color: transparent;
    border: 1px solid var(--text-color);
    border-radius: 16px;
    margin-top: 28px;

    font-weight: 700;
        font-size: 16px;
        line-height: 1.19;
        text-transform: uppercase;
        color: var(--text-color);

        @media screen and (min-width: 768px) {
            font-size: 32px;
            line-height: 1.19;
            min-width: 306px;
        }
        @media screen and (min-width: 1200px){
            margin-top: 46px;
            margin-right: 0;
            margin-left: 0;

        }
}