.contacts{
    position: relative;

}
.contacts-container {
//    position: relative;
    background: #01383A;;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    flex-grow: 1;
    max-width: 1280px;
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 48px;
    background-image: url(../images/contacts/contacts-bg-mob-1.jpg);

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        background-image: url(../images/contacts/contacts-bg-mob-2.jpg);
    }

         @media screen and (min-width: 768px) {
            padding-top: 120px;
            padding-bottom: 120px;
            padding-left: 40px;
            padding-right: 40px;
             background-image: url(../images/contacts/contacts-bg-tab-1.jpg);
            @media (min-device-pixel-ratio: 2),
                (min-resolution: 192dpi),
                (min-resolution: 2dppx) {
                    background-image: url(../images/contacts/contacts-bg-tab-2.jpg);
                }
         }
         @media screen and (min-width:1280px) {
            padding-top: 120px;
            padding-bottom: 112px;
            padding-left: 40px;
            padding-right: 40px;
             max-width: 1280px;
             background-image: url(../images/contacts/contacts-bg-des-1.jpg);
            @media (min-device-pixel-ratio: 2),
                (min-resolution: 192dpi),
                (min-resolution: 2dppx) {
                    background-image: url(../images/contacts/contacts-bg-des-2.jpg);
                }
         }
}

.contacts-title {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.17;
    color: var(--text-color);

    margin-bottom: 4px;
    

    @media screen and (min-width: 768px) {
            margin-bottom: 8px;
            padding-left: 59px;
            font-size: 56px;
            line-height: 1.18;
        }   
@media screen and (min-width: 1200px) {
    padding-left: 102px;
    font-weight: 500;
    font-size: 56px;
    line-height: 1.17;
}

}

.contacts-img {
    display: flex;
        align-items: center;
        justify-content: center;
        object-fit: cover;
        

        @media screen and (min-width: 480px) {
                width: 450px;
            }

        @media screen and (min-width: 768px) {
                width: 688px;
            }
        @media screen and (min-width: 1200px){
                width: 100%;
            }
}

.contacts-img>img {
    @media screen and (max-width: 1280px) {
        display: block;
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}
.other{
    @media screen and (min-width: 1200px){
    display: flex;
    justify-content: space-between;
    
}
}
.contacts-line{
    position: relative;
}
// .contacts-border-wrap1,
// .contacts-border-wrap2 {
//   display: flex;
//   width: 100%;
//   position: absolute;
//   left: 0;
// }

// .contacts-border-wrap1 {
//   height: 8px;
//   top: 27px;
//   @include tablet {
//     height: 19px;
//     top: 66px;
//   }
// }

// .contacts-border1 {
//   height: 8px;
//   width: 170px;
//   @include mobile {
//     width: 260px;
//   }
//   @include tablet {
//     height: 19px;
//     width: 500px;
//     box-shadow: 0px 23px 25px -10px rgba(123, 227, 74, 0.25);
//   }
//   border: 1px solid #7be34a;
//   border-top: none;
//   border-left: none;
//   box-shadow: 0px 12px 25px -3px rgba(123, 227, 74, 0.25);
// }

// .contacts-border3 {
//   height: 1px;
//   width: calc(100% - 170px);
//   @include mobile {
//     width: calc(100% - 260px);
//   }
//   @include tablet {
//     width: calc(100% - 500px);
//   }
//   border-top: 1px solid #7be34a;
//   box-shadow: 0px 4px 25px rgba(123, 227, 74, 0.25);
// }

// .contacts-border-wrap2 {
//   height: 7px;
//   top: 32px;
//   @include tablet {
//     height: 19px;
//     top: 75px;
//   }
// }

// .contacts-border2 {
//   height: 7px;
//   width: 180px;
//   @include mobile {
//     width: 270px;
//   }
//   @include tablet {
//     height: 19px;
//     width: 510px;
//     box-shadow: 0px 23px 25px -10px rgba(40, 120, 13, 0.25);
//   }
//   border: 1px solid #28780d;
//   border-top: none;
//   border-left: none;
//   box-shadow: 0px 12px 25px -3px rgba(40, 120, 13, 0.25);
// }

// .contacts-border4 {
//   height: 1px;
//   width: calc(100% - 180px);
//   @include mobile {
//     width: calc(100% - 297px);
//   }
//   @include tablet {
//     width: calc(100% - 510px);
//   }
//   border-top: 1px solid #28780d;
//   box-shadow: 0px 4px 25px rgba(40, 120, 13, 0.25);
// }
.contacts-linewrap-top,
.contacts-linewrap-bottom {
  position: absolute;
  left: 0;
  width: 100%;
  display: flex;
  gap: calc(100% / 2);
  @include mobile {
    gap: 448px;
  }
  @include tablet {
    gap: 688px;
  }
  @include desktop {
    gap: 1200px;
  }
}

.contacts-linewrap-top {
  @include tablet {
    height: 19px;
    top: 186px;
  }

  @include desktop {
height: 8px;
    top: 186px;
  }
}

.contacts-linewrap-bottom {
  @include tablet {
    height: 19px;
    top: 195px;
  }

  @include desktop {
height: 7px;
    top: 195px;
  }
   
}

.contacts-line1 {
  @include tablet {
    height: 8px;
    border-bottom: 1px solid var(--line-top);
    box-shadow: 0px 23px 25px -10px rgba(123, 227, 74, 0.25);
  }
}

.contacts-line2 {
 
  @include tablet {
    height: 7px;
    border-bottom: 1px solid var(--line-bottom);
    box-shadow: 0px 23px 25px -10px rgba(40, 120, 13, 0.25);
  }
}

.contacts-line1,
.contacts-line2,
.contacts-line3,
.contacts-line4 {
  width: calc(100% * 0.5);
  @include mobile {
    width: calc((100% - 448px) / 2);
  }
  @include tablet {
    width: calc((100% - 688px) / 2);
    height: 19px;
  }
  @include desktop {
    width: calc((100% - 1200px) / 2);
  }
}

.contacts-line3 {
  height: 1px;
  border-top: 1px solid var(--line-top);
  box-shadow: 0px 4px 25px rgba(123, 227, 74, 0.25);
}

.contacts-line4 {
  height: 1px;
  border-top: 1px solid var(--line-bottom);
  box-shadow: 0px 4px 25px rgba(40, 120, 13, 0.25);
}
// border
.contacts-text {
    font-weight: 400;
        font-size: 16px;
        line-height: 1.19;
        color: var(--text-color);
        margin-top: 16px;

        @media screen and (min-width: 480px) {
                max-width: 288px;     
            }


        @media screen and (min-width: 768px) {
            font-size: 24px;
                line-height: 1.17;
                max-width: 488px;
        margin-top: 32px;          
        }
        @media screen and (min-width: 1200px){
      margin-top: 60px;
      width: 488px;
      height: 112px;
      font-weight: 400;
     font-size: 24px;
     line-height: 1.14;
        }
        
}
.contacts-block{
    position: relative;
}
.contacts-border-wrap1,
.contacts-border-wrap2 {
  display: flex;
  width: 100%;
  position: absolute;
  left: 0;
}

.contacts-border-wrap1 {
  height: 8px;
  top: 27px;
  @include tablet {
    height: 19px;
    top: 66px;
  }
}

.contacts-border1 {
  height: 8px;
  width: 180px;
  @include mobile {
    width: 260px;
  }
  @include tablet {
    height: 19px;
    width: 500px;
    box-shadow: 0px 23px 25px -10px rgba(123, 227, 74, 0.25);
  }
  border: 1px solid #7be34a;
  border-top: none;
  border-left: none;
  box-shadow: 0px 12px 25px -3px rgba(123, 227, 74, 0.25);
}

.contacts-border3 {
  height: 1px;
  width: calc(100% - 180px);
  @include mobile {
    width: calc(100% - 260px);
  }
  @include tablet {
    width: calc(100% - 500px);
  }
  border-top: 1px solid #7be34a;
  box-shadow: 0px 4px 25px rgba(123, 227, 74, 0.25);
}


.contacts-border-wrap2 {
  height: 7px;
  top: 32px;
  @include tablet {
    height: 19px;
    top: 75px;
  }
}

.contacts-border2 {
  height: 7px;
  width: 185px;
  @include mobile {
    width: 265px;
  }
  @include tablet {
    height: 19px;
    width: 510px;
    box-shadow: 0px 23px 25px -10px rgba(40, 120, 13, 0.25);
  }
  border: 1px solid #28780d;
  border-top: none;
  border-left: none;
  box-shadow: 0px 12px 25px -3px rgba(40, 120, 13, 0.25);
}

.contacts-border4 {
  height: 1px;
  width: calc(100% - 185px);
  @include mobile {
    width: calc(100% - 265px);
  }
  @include tablet {
    width: calc(100% - 510px);
  }
  border-top: 1px solid #28780d;
  box-shadow: 0px 4px 25px rgba(40, 120, 13, 0.25);
}
// amimation
.contacts-text-mail {
    margin-top: 22px;
}

.contacts-block {
    margin-top: 24px;
    margin-bottom: 16px;

@media screen and (min-width: 768px) {
     margin-top: 67px;
     margin-bottom: 40px;
                 }
@media screen and (min-width: 1200px){
margin-top: 75px;
margin-bottom: 60px;
}
}

.contacts-block-list {
    @media screen and (min-width: 768px) {
        display: flex;
    }
    
}

.contacts-block-list {
    @media screen and (min-width: 768px) {
    display: flex;
     gap: 32px;       
        }
    @media screen and (min-width: 1200px){
display: block;
    }
    
}

.contacts-mail-text {
    font-weight: 400;
        font-size: 16px;
        line-height: 1.19;
        color: var(--text-color);

        @media screen and (min-width: 768px) {
                font-size: 24px;
                line-height: 1.17;
            }
}

.contacts-mail {
    font-weight: 400;
        font-size: 16px;
        line-height: 1.19;
        text-transform: capitalize;
        color: #8D9289;
        margin-top: 8px;
        margin-bottom: 24px;

        @media screen and (min-width: 768px) {
                font-size: 24px;
                line-height: 1.17;
            }

        @media screen and (min-width: 1200px){
            margin-top: 0px;
            margin-bottom: 0px;
        }
}

.contacts-phone {
    font-weight: 400;
        font-size: 16px;
        line-height: 1.19;
    
        color: var(--text-color);
        margin-bottom: 8px;

        @media screen and (min-width: 768px) {
                font-size: 24px;
                line-height: 1.17;
            }

        @media screen and (min-width: 1200px){
            margin-top: 40px;
        }
}

.phone-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 8px;

    @media screen and (min-width: 768px) {
            font-weight: 400;
            font-size: 24px;
            line-height: 1.17;
        }

    @media screen and (min-width: 1200px){
    display:block;
    }
   
}

.phone-item {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.01em;
    text-transform: capitalize;

        color: #8D9289;
        @media screen and (min-width: 1200px){
            font-weight: 400;
            font-size: 24px;
            line-height: 1.16;
            letter-spacing: 0.01em;
            margin-top: 8px;
        }
}
.contacts-bottom{
    @media screen and (min-width: 480px) {
            
            max-width: 288px;
        }

                @media screen and (min-width: 768px) {
                    padding-left: 49px;
                    max-width: 592px;
                }

    @media screen and (min-width: 1200px){
    margin-top: 58px;
    margin-left: 60px;
    max-width: 589px;
    }
}
.contacts-top{
    display: block;
}
.contacts-us {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.17;
    margin-bottom: 16px;
    
    
    color: #86E543;

        @media screen and (min-width: 768px) {
        font-weight: 500;
            font-size: 36px;
            line-height: 42px;
            margin-bottom: 48px;
        }
        @media screen and (min-width: 1200px) {
            padding-left: 0px;
        }
}


.contacts-form-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 40px;
}

.form-input {
    background-color: transparent;
    border-bottom: 1px solid #86E543;
    border-top: none;
    border-left: none;
    border-right: none;
    cursor: pointer;

    font-weight: 500;
        font-size: 16px;
        line-height: 1.25;
        color: var(--text-color);
    
        width: 288px;
        @media screen and (min-width: 768px) {
            width: 543px;
        }
}

.form-comment {
    
        font-size: 18px;
        line-height: 20px;
        color: var(--text-color);
}

::placeholder {
    color: var(--text-color);
    opacity: 1;
}

.label-text-contacts {
    font-weight: 400;
        font-size: 16px;
        line-height: 1.25;
    
        text-transform: capitalize;
    
        color: var(--text-color);

        @media screen and (min-width: 768px) {
                font-size: 18px;
                line-height: 1.11;
            }
}

.label-text-textarea {
    display: block;
    font-weight: 400;
        font-size: 16px;
        line-height: 1.25;
        color: #CDCDCD;
        margin-bottom: 4px;

        @media screen and (min-width: 768px) {
                font-size: 18px;
                line-height: 1.11;
            }
}

textarea {
    resize: none;
    width: 289px;
    height: 95px;
    padding-left: 16px;
    background-color: transparent;
    border: 1px solid #86E543;
    border-radius: 0px;

        @media screen and (min-width: 768px) {
            height: 120px;
            width: 543px;
        }
    
    
    cursor: pointer;
    padding: 12px 16px;

    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: var(--text-color);

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:focus {
        border-color: var(--blue-color);
    }
}

.contacts-btn {
    display: block;
    margin: 0 auto;
    min-width: 173px;
    height: 51px;
    background-color: transparent;
    border: 1px solid var(--text-color);
    border-radius: 16px;
    margin-top: 28px;

    font-weight: 700;
        font-size: 16px;
        line-height: 1.19;
        text-transform: uppercase;
        color: var(--text-color);

        @media screen and (min-width: 768px) {
            font-size: 32px;
            line-height: 1.19;
            min-width: 306px;
            
        }
        @media screen and (min-width: 1200px){
            margin-top: 46px;
            margin-right: 0;
            margin-left: 0;

        }
}


.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 20, 20, 0.8);
    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &.is-hidden {
        visibility: hidden;
        opacity: 0;
        pointer-events: none;

        & .modal {
            transform: translate(-50%, -50%) scale(0.5);
        }
    }
}

.send {
    position: absolute;
    width: 272px;
        height: 395px;
    top: 50%;
    left: 50%;
    background-color: var(--main-color);

    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
        opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

    transform: translate(-50%, -50%) scale(1);

    @media screen and (min-width: 768px) {
        width: 688px;
        height: 524px;
    }

    @media screen and (min-width: 1280px) {
        width: 768px;
        height: 524px;
    }
}

.modal-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 20px;
    top: 20px;
    width: 40px;
    height: 40px;
    border: 1.5px solid #86e543;
    border-radius: 50%;
    background-color: transparent;
    fill: #86E543;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        filter: drop-shadow(0px 4px 10px rgba(134, 229, 67, 0.1)) drop-shadow(0px 4px 20px rgba(134, 229, 67, 0.4));
    }
}

.modal-text {


    font-weight: 500;
    font-size: 24px;
    line-height: 1.17;
    text-align: center;

    color: #ffffff;
    padding-bottom: 32px;
    padding-top: 100px;

    @media screen and (min-width: 768px) {
        font-weight: 500;
        font-size: 56px;
        line-height: 1.18;
        padding: 88px 26px 80px 26px;

    }

    @media screen and (min-width: 1280px) {
        font-weight: 600;
        font-size: 56px;
        line-height: 66px;
        padding: 88px 66px 80px 66px;

    }
}

.contacts-modal-link {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.19;

    text-transform: uppercase;
    text-align: center;

    color: #01383a;
    display: block;
    margin: 0 auto;
    width: 173px;
    height: 51px;
    background: #86e543;
    border-radius: 16px;
    border: none;
    padding: 16px 75px;

    @media screen and (min-width: 768px) {
        font-weight: 700;
        font-size: 32px;
        line-height: 1.19;
        width: 306px;
        height: 70px;
        padding: 16px 132px;
    }

        @media screen and (min-width: 1280px) {
        font-weight: 700;
            font-size: 32px;
            line-height: 1.19;
        }
}

.modal-icon-cloce {
    fill: #86e543;
}