.footer {
  background: #001414;
}
 .footer-content {
   
   padding: 25px 32px 25px 15px;
   margin-left: auto;
   margin-right: auto;
   max-width: 1600px;
   color: #FFFFFF;
 }
 @media screen and (min-width: 320px) {
  .footer-content {
    max-width: 480px;
  }
 }
 @media screen and (min-width: 768px) {
   .footer-content {
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 40px;
     max-width: 768px;
   }
 }
 @media screen and (min-width: 1280px) {
   .footer-content {
     justify-content: start;
     gap: 20px;
     max-width: 1280px;
   }
 } 
 .footer-container {
   display: flex;
   justify-content: space-between;
 }
 @media screen and (min-width: 768px) {
   .footer-container {
     flex-direction: row;
     justify-content: space-around;
     width: 50%;
   }
 }
 @media screen and (min-width: 1280px) {
   .footer-container {
     min-width: 590px;
     gap: 20px;
     justify-content: start;
   }
 } 
 .footer-top-title {
   display: flex;
   height: 100%;
   margin-bottom: auto;
 }
 @media screen and (min-width: 1280px) {
   .footer-top-title {
     min-width: 285px;
   }
 } 
 .footer-title {
   display: flex;
   justify-content: center;
   width: 116px;
   text-align: center;
   font-family: "Roboto";
   
   font-weight: 700;
   font-size: 24px;
   line-height: 1.17;
   margin-bottom: 25px;
 }
 @media screen and (min-width: 768px) {
   .footer-title {
     height: 100%;
     margin-bottom: auto;
   }
 }
 @media screen and (min-width: 1280px) {
   .footer-title {
     width: 187px;
   }
 } 
 @media screen and (min-width: 1280px) {
   .footer-list {
     min-width: 285px;
   }
 } 
 .footer-list li:not(:last-child) {
   margin-bottom: 15px;
 } 
 .footer-link {
   font-family: "Roboto";    
   font-size: 16px;
   line-height: 100%;
   margin-bottom: 8px;
 } 
 .footer-link:focus,
 .footer-link:hover {
   border-bottom: 1px solid #86E543;
 } 
 .footer-link-mail {
   font-family: "Roboto";   
   font-size: 16px;
   line-height: 100%;
   margin-bottom: 8px;
 } 
 .footer-link-tel {
   font-family: "Roboto";   
   font-size: 16px;
   line-height: 100%;
   margin-bottom: 8px;
   margin-top: 15px;
 }
 .footer-mail {
   font-family: "Roboto";   
   font-size: 16px;
   line-height: 1.19;
   color: #8D9289;
 }
 .footer-mail:hover,
 .footer-mail:focus {
  
  border-radius: 4px;
   -webkit-box-shadow: inset 0px 0px 3px 2px rgba(134,229,67,0.4);
   -moz-box-shadow: inset 0px 0px 3px 2px rgba(134,229,67,0.4);
   box-shadow: inset 0px 0px 3px 2px rgba(134,229,67,0.4);
 }
 .footer-tel {
   font-family: "Roboto";   
   font-size: 16px;
   line-height: 1.19;
   letter-spacing: 0.01em;
   text-transform: capitalize;
   color: #8D9289;
 } 
 .footer-tel:hover,
 .footer-tel:focus {
  border-radius: 4px;
   -webkit-box-shadow: inset 0px 0px 3px 2px rgba(134,229,67,0.4);
   -moz-box-shadow: inset 0px 0px 3px 2px rgba(134,229,67,0.4);
   box-shadow: inset 0px 0px 3px 2px rgba(134,229,67,0.4);

 }
 .footer-list-link li:not(:last-child) {
   margin-bottom: 8px;
 } 
 @media screen and (min-width: 1280px) {
   .footer-social {
     min-width: 285px;
   }
 } 
 .footer-social-list {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 32px;
 }
 @media screen and (min-width: 768px) {
   .footer-social-list {
     flex-direction: row;
     gap: 16px;
   }
 }
 @media screen and (min-width: 1280px) {
   .footer-social-list {
     flex-direction: column;
     align-items: start;
   }
 } 
 .footer-link-svg {
   background: #fff;
   width: 24px;
   height: 24px;
   border-radius: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
 } 
 .footer-link-svg:hover,
 .footer-link-svg:focus {
   
  border: 3px solid #86E543;
  border-left: 1px solid #86E543;
  border-right: 1px solid #86E543;
  -webkit-box-shadow: 0px 0px 42px 4px rgba(131,207,133,0.93);
  -moz-box-shadow: 0px 0px 42px 4px rgba(131,207,133,0.93);
  box-shadow: 0px 0px 42px 4px rgba(131,207,133,0.93);
 }
 .footer-svg {
   fill: #000;
 }
 