.gallery-section {
  background-color: var(--main-color);
  position: relative;
  padding-bottom: 20vw;
  @include tablet {
    padding-top: 15.6vw;
    padding-bottom: 17vw;
  }
  @include desktop {
    padding-top: 9.8vw;
    padding-bottom: 12vw;
    max-height: 62.5vw;
    background-image: url(../images/img-gallery/gallery-bg.jpg);
  }
}
.gallery-container {
  padding: 0;
  margin: 0;
}
.gallery-slider {
  width: 100vw;
  overflow: hidden;
}
.gallery-navigation {
  display: flex;
  position: absolute;
  top: 160vw;
  left: 50%;
  transform: translateX(-50%);

  @include tablet {
    top: 83vw;
  }
  @include desktop {
    top: 50vw;
  }
}
.gallery-label {
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background-color: var(--text-color);
  // cursor: pointer;
  //   transform: all 250ms linear;

  &:not(:last-child) {
    margin-right: 16px;
  }
  &:hover,
  &:focus {
    cursor: pointer;
    transform: scale(1.1);
    background-color: #fff;
    width: 40px;
    border-radius: 30px;
  }
}
input[name='radio-pic'] {
  position: absolute;
  visibility: hidden;
}
.gallery-input-wrapper {
  width: 300%;
  height: 100%;
  display: flex;
}
.gallery-image {
  position: relative;
  width: 33.33333%;
  // max-height: 500px;
}
.gallery-image picture {
  width: 100vw;
  height: 100%;
}
#gallery-img-1:checked ~ .s1 {
  margin-left: 0;
}
#gallery-img-2:checked ~ .s1 {
  margin-left: -33.33%;
}
#gallery-img-3:checked ~ .s1 {
  margin-left: -66.58%;

  @include tablet {
    margin-left: -66.7%;
  }
  @include desktop {
    margin-left: -66.61%;
  }
}
.gallery-text {
  display: block;
  position: absolute;
  bottom: 11.5vw;
  left: 7.5vw;
  display: inline-block;
  font-weight: 600;
  font-size: 7.5vw;
  line-height: 8.75vw;
  padding-bottom: 7px;

  @include tablet {
    font-size: 7.3vw;
    line-height: 8.6vw;
    bottom: 3.5vw;
    left: 5.3vw;
  }
  @include desktop {
    font-size: 4.4vw;
    line-height: 5.2vw;
    bottom: 3.8vw;
  }
}
.gallery-text-one {
  display: inline-block;
  max-height: 180vw;
  min-width: 94vw;
  background: linear-gradient(
    270deg,
    #1edde0 13.26%,
    #8bda41 51.01%,
    #ef001b 107.89%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;

  @include tablet {
    min-width: 0;
    max-width: 78vw;
  }
  @include desktop {
    display: block;
    max-width: 46.9vw;
    left: 50%;
    transform: translateX(-50%);
  }
}
.gallery-text-two {
  background: linear-gradient(
    270deg,
    #03fe8f 4.61%,
    #ebdcff 57.91%,
    #ff98f3 92.2%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  @include desktop {
    width: 46.2vw;
    bottom: 3.8vw;
    left: 3.8vw;
    text-align: center;
  }
}
.gallery-text-two-mob {
  @include tablet {
    display: none;
  }
}
.gallery-text-two-tab {
  display: none;
  @include tablet {
    display: block;
  }
}
.gallery-text-two-span {
  text-transform: uppercase;
}
.gallery-text-three {
  display: block;
  min-width: 450px;
  background: linear-gradient(
    270deg,
    #ffffff 13.26%,
    #693cf9 60.87%,
    #f475eb 107.89%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  @include desktop {
    width: 36.2vw;
  }
}
.gallery-text-three-mob {
  @include desktop {
    display: none;
  }
}
.gallery-text-three-desk {
  display: none;
  @include desktop {
    display: block;
  }
}
.gallery-mob {
  display: block;
  @include tablet {
    display: none;
  }
}
.gallery-tab {
  display: none;
  @include tablet {
    display: block;
  }
}
