.gallery-section {
  position: relative;
  max-width: 1280px;
  margin: 0 auto;
  padding-bottom: 40px;
  background-color: var(--main-color);
  background-image: url(../images/img-gallery/gallery-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/img-gallery/gallery-bg-2x.jpg);
  }
  @include tablet {
    padding-top: 120px;
    padding-bottom: 168px;
  }
}
.swiper {
  width: 100%;
  height: 100%;
  position: static;
}
.swiper-slide {
  text-align: left;
  font-size: 18px;
  background: #fff;

  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.swiper-slide {
  display: block;
}
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  position: absolute;
  bottom: 8px;
  @include tablet {
    bottom: 120px;
  }
}
.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  background-color: var(--text-color);
  height: 16px;
}
.swiper-pagination-bullet {
  width: var(
    --swiper-pagination-bullet-width,
    var(--swiper-pagination-bullet-size, 16px)
  );
}
.swiper-pagination-bullet-active {
  width: 40px;
  border-radius: 30px;
}
.gallery-border {
  display: block;
  border-top: 2px solid var(--accent-color);
  border-bottom: 2px solid var(--accent-color);
}
.gallery-text {
  display: block;
  position: absolute;
  bottom: 9vw;
  left: 7.5vw;
  display: inline-block;
  font-weight: 500;
  font-size: 7.5vw;
  line-height: 8.75vw;
  max-width: 87.5vw;
  @include tablet {
    font-size: 7.3vw;
    line-height: 8.6vw;
    bottom: 1.8vw;
    left: 5.3vw;
    max-width: 75vw;
  }
  @include desktop {
    font-size: 4.4vw;
    line-height: 5.2vw;
    left: 3.8vw;
    bottom: 3.8vw;
    max-width: 51vw;
  }
  @include desktop-fixed {
    font-size: 70px;
    line-height: 1.2;
    bottom: 50px;
  }
}
.gallery-text-one {
  padding-bottom: 0.9vw;
  background: linear-gradient(
    270deg,
    #1edde0 13.26%,
    #8bda41 51.01%,
    #ef001b 107.89%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;

  @include desktop {
    display: block;
    left: 50%;
    transform: translateX(-50%);
  }
  @include desktop-fixed {
    left: 750px;
  }
}
.gallery-text-two {
  background: linear-gradient(
    270deg,
    #03fe8f 4.61%,
    #ebdcff 57.91%,
    #ff98f3 92.2%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  @include desktop {
    left: 0vw;
    text-align: center;
  }
  @include desktop-fixed {
    width: 800px;
    left: 10px;
  }
}
.gallery-text-two-span {
  text-transform: uppercase;
}
.gallery-text-three {
  display: block;
  width: 104vw;
  background: linear-gradient(
    270deg,
    #ffffff 27.78%,
    #693cf9 61.11%,
    #f475eb 102.56%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  @include desktop-fixed {
    left: 81px;
  }
}
.gallery-mob {
  display: block;
  @include tablet {
    display: none;
  }
}
.gallery-tab {
  display: none;
  @include tablet {
    display: block;
  }
}
.animate__animated {
  @include desktop {
    left: 30%;
  }
}
