.header {
  font-family: var(--main-font);
  position: relative;
  z-index: 2903;
  background-color: var(--main-color);
  box-shadow: 0px 4px 10px rgba(97, 162, 58, 0.2),
    0px 4px 50px rgba(94, 236, 54, 0.5), 0px 4px 4px rgba(17, 168, 26, 0.2);
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 16px;
  @include mobile {
    max-width: 480px;
    margin: 0 auto;
  }
  @include tablet {
    align-items: flex-end;
    max-width: 768px;
    padding: 40px;
  }
  @include desktop {
    align-items: center;
    max-width: 1280px;
  }
}
.header-logo {
  display: block;
  max-width: 115px;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  text-align: center;
  text-transform: uppercase;
  color: var(--text-color);
}
.header-btn-open,
.header-btn-close {
  padding: 0;
  border: none;
  background-color: transparent;
}
.header-btn-open {
  @include desktop {
    display: none;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
}
.header-btn-tab {
  display: none;
  @include tablet {
    display: block;
    padding: 9px 18px;
    border-radius: 16px;
    background-color: var(--accent-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.6;
    letter-spacing: -0.03em;
    color: #000000;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      box-shadow: 0px 8px 20px rgba(134, 229, 67, 0.5),
        0px 4px 10px rgba(255, 255, 255, 0.1);
    }
  }
  @include desktop {
    padding: 16px 20px;
    line-height: 1;
  }
}
.header-nav {
  display: none;
  @include desktop {
    display: block;
  }
}
.header-nav-list {
  display: flex;
  align-items: center;
}
.header-nav-item:not(:last-child) {
  margin-right: 48px;
}
.header-nav-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  color: var(--text-color);
  transition: padding-bottom 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-bottom 300ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    padding-bottom: 8px;
    border-bottom: 1px solid #86e543;
  }
}
.header-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--footer-color);
  background-image: url(../images/img-header/header-bg-mob.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/img-header/header-bg-mob-2x.jpg);
  }
  @include tablet {
    background-image: url(../images/img-header/header-bg-tab.jpg);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/img-header/header-bg-tab-2x.jpg);
    }
  }
}
.header-top-wrapper {
  position: relative;
  z-index: 2903;
  // width: 100vw;
  background-color: var(--main-color);
  box-shadow: 0px 4px 10px rgba(97, 162, 58, 0.2),
    0px 4px 50px rgba(94, 236, 54, 0.5), 0px 4px 4px rgba(17, 168, 26, 0.2);
  background-color: var(--main-color);
}
.header-menu-nav {
  width: 165px;
  margin: 64px auto 0;
}
.header-menu-list {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  text-transform: uppercase;
  text-align: center;
  color: var(--text-color);
}
.header-menu-item:not(:first-child) {
  margin-top: 40px;
}
