.header {
  position: relative;
  box-shadow: var(--header-shadow);
  border-bottom: 1px solid green;
  z-index: 3;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 16px;
    @include tablet {
      padding: 40px;
    }
  }

  &__logo {
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 24px;
    line-height: 1.16;
    text-align: center;
    text-transform: uppercase;
    max-width: 118px;
    color: var(--text-color);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    @include desktop {
      max-width: 121px;
    }
  }

  &__burger {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 54px;
    height: 36px;
    z-index: 50;
    margin-left: auto;

    &.is-open {
      @include tablet {

        width: 36px;
      }
    }

    @include tablet {
      margin: auto;
    }

    @include desktop {
      display: none;
    }

  }

  &__burger-line {
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 54px;
    height: 3.6px;
    border-radius: 2px;
    background-color: var(--accent-color);
    transition: 500ms;

    @include tablet {
      &.is-open {
        width: 36px;
        height: 2.6px;
      }
    }

  }

  &__burger-line:nth-child(1) {
    transform: translate(-50%, -13px);
  }

  &__burger-line:nth-child(2) {
    transform: translate(-50%, 0);
  }

  &__burger-line:nth-child(3) {
    transform: translate(-50%, 13px);
  }

  &__burger.is-open &__burger-line:nth-child(1) {
    transform: translate(-50%, 0) rotate(45deg);
  }

  &__burger.is-open &__burger-line:nth-child(2) {
    width: 0;
  }

  &__burger.is-open &__burger-line:nth-child(3) {
    transform: translate(-50%, 0) rotate(-45deg);
  }

  &__nav {
    @media screen and (max-width: 1279px) {
      box-shadow: var(--modal-shadow);
      position: fixed;
      top: 104px;
      right: -100%;
      width: 100%;
      height: 100%;
      transition: 500ms, top 0ms;
      background-color: var(--main-color);
      background-image: url(../images/img-header-menu/bg-menu-mob.jpg);

      @include retina {
        background-image: url(../images/img-header-menu/bg-menu-mob-2x.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
      }

      @include tablet {
        top: 136px;
        background-image: url(../images/img-header-menu/bg-menu-tab.jpg);

        @include retina {
          background-image: url(../images/img-header-menu/bg-menu-tab-2x.jpg);
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
        }
      }
    }

    &.is-open {
      right: 0;
    }
  }

  &__menu {
    display: flex;
    gap: 48px;

    @media screen and (max-width: 1279px) {
      display: flex;
      flex-direction: column;
      gap: 40px;
      width: 160px;
      margin-top: 64px;
      align-items: center;
      margin: 64px auto 0;

      @include tablet {
        margin-top: 120px;
      }
    }

  }

  &__menu-link {
    display: block;
    position: relative;
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.16;
    text-transform: uppercase;
    color: var(--text-color);

    @media (min-width: 768px) and (max-width: 1279px) {
      font-size: 32px;
      line-height: 1.18;
      border: 1px solid #000000;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    @include desktop {
      font-weight: 400;
      font-size: 16px;
      line-height: 100%;
      padding-bottom: 8px;
      text-transform: none;
      transition: border-bottom 500ms;

      &:hover,
      &:focus {
        border-bottom: 1px solid var(--accent-color);
        padding-bottom: 7px;
      }
    }
  }

  &__btn {
    display: block;
    padding: 9px 18px;
    background-color: var(--accent-color);
    border-radius: 16px;
    border: none;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
    color: #000000;
    transition: box-shadow 500ms;

    &:hover,
    &:focus {
      box-shadow: 0px 8px 20px rgba(134, 229, 67, 0.5),
        0px 4px 10px rgba(255, 255, 255, 0.1);
    }

    @include desktop {
      padding: 16px 20px;
    }

    @media screen and (max-width: 767px) {
      display: none;
    }
  }

  &__btn-link {
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 14px;
    line-height: 158.7%;
    letter-spacing: 0.03em;

    @include desktop {
      line-height: 100%;
    }
  }
}


// .header {
//   font-family: var(--main-font);
//   position: relative;
//   z-index: 2903;
//   background-color: var(--main-color);
//   box-shadow: 0px 4px 10px rgba(97, 162, 58, 0.2),
//     0px 4px 50px rgba(94, 236, 54, 0.5), 0px 4px 4px rgba(17, 168, 26, 0.2);
// }
// .header-container {
//   display: flex;
//   align-items: center;
//   justify-content: space-between;
//   padding: 24px 16px;
//   @include mobile {
//     max-width: 480px;
//     margin: 0 auto;
//   }
//   @include tablet {
//     align-items: flex-end;
//     max-width: 768px;
//     padding: 40px;
//   }
//   @include desktop {
//     align-items: center;
//     max-width: 1280px;
//   }
// }
// .header-logo {
//   display: block;
//   max-width: 115px;
//   font-weight: 700;
//   font-size: 24px;
//   line-height: 1.16;
//   text-align: center;
//   text-transform: uppercase;
//   color: var(--text-color);
// }
// .header-btn-open,
// .header-btn-close {
//   padding: 0;
//   border: none;
//   background-color: transparent;
// }
// .header-btn-open {
//   @include desktop {
//     display: none;
//     clip-path: inset(100%);
//     clip: rect(0 0 0 0);
//     overflow: hidden;
//   }
// }
// .header-btn-tab {
//   display: none;
//   @include tablet {
//     display: block;
//     padding: 9px 18px;
//     border-radius: 16px;
//     background-color: var(--accent-color);
//     font-weight: 700;
//     font-size: 14px;
//     line-height: 1.6;
//     letter-spacing: -0.03em;
//     color: #000000;
//     transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
//     &:hover,
//     &:focus {
//       box-shadow: 0px 8px 20px rgba(134, 229, 67, 0.5),
//         0px 4px 10px rgba(255, 255, 255, 0.1);
//     }
//   }
//   @include desktop {
//     padding: 16px 20px;
//     line-height: 1;
//   }
// }
// .header-nav {
//   display: none;
//   @include desktop {
//     display: block;
//   }
// }
// .header-nav-list {
//   display: flex;
//   align-items: center;
// }
// .header-nav-item:not(:last-child) {
//   margin-right: 48px;
// }
// .header-nav-link {
//   font-weight: 400;
//   font-size: 16px;
//   line-height: 1;
//   color: var(--text-color);
//   transition: padding-bottom 250ms cubic-bezier(0.4, 0, 0.2, 1),
//     border-bottom 300ms cubic-bezier(0.4, 0, 0.2, 1);

//   &:hover,
//   &:focus {
//     padding-bottom: 8px;
//     border-bottom: 1px solid #86e543;
//   }
// }
// .header-backdrop {
//   position: fixed;
//   top: 0;
//   left: 0;
//   width: 100vw;
//   height: 100vh;
//   background-color: var(--footer-color);
//   background-image: url(../images/img-header/header-bg-mob.jpg);
//   background-repeat: no-repeat;
//   background-position: center;
//   background-size: contain;
//   @media (min-device-pixel-ratio: 2),
//     (min-resolution: 192dpi),
//     (min-resolution: 2dppx) {
//     background-image: url(../images/img-header/header-bg-mob-2x.jpg);
//   }
//   @include tablet {
//     background-image: url(../images/img-header/header-bg-tab.jpg);
//     @media (min-device-pixel-ratio: 2),
//       (min-resolution: 192dpi),
//       (min-resolution: 2dppx) {
//       background-image: url(../images/img-header/header-bg-tab-2x.jpg);
//     }
//   }
// }
// .header-top-wrapper {
//   position: relative;
//   z-index: 2903;
//   // width: 100vw;
//   background-color: var(--main-color);
//   box-shadow: 0px 4px 10px rgba(97, 162, 58, 0.2),
//     0px 4px 50px rgba(94, 236, 54, 0.5), 0px 4px 4px rgba(17, 168, 26, 0.2);
//   background-color: var(--main-color);
// }
// .header-menu-nav {
//   width: 165px;
//   margin: 64px auto 0;
// }
// .header-menu-list {
//   font-weight: 700;
//   font-size: 24px;
//   line-height: 1.16;
//   text-transform: uppercase;
//   text-align: center;
//   color: var(--text-color);
// }
// .header-menu-item:not(:first-child) {
//   margin-top: 40px;
// }
