.hero {
    margin: 0 auto;
    position: relative;
    padding: 180px 0 209px ;
    width: 1280px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../images/img-hero/hero-bg-desc1x.jpg);

    &::after {
        position: absolute;
        content: '';
        background-image: url(../images/img-hero/bg-vector.png);
        background-size: auto;
        background-repeat: no-repeat;
        background-position: center;
        width: 100%;
        opacity: .2;
        top: 55px;
        bottom: 0;
        left: -43px;
    }

    &_info {
        text-align: center;
    }

    &-title {
        font-family: 'Roboto';
        font-weight: 500;
        line-height: 1.18;
        text-align: center;      
        color: var(--text-color);
        font-size: 32px;
        width: 247px;
        text-transform: inherit;
        height: 114px;
        margin-bottom: 25px;

    }


    .hero_btn {
        display: block;
        // width: 173px;
        background: var(--accent-color);
        border-radius: 16px;
        height: 51px;
        padding: 16px 20px;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.18;
        color: var(--main-color);
        border: none;
        text-transform: uppercase;
        flex: none;
        order: 0;
        flex-grow: 0;
    }

    // &_img-wrap {
    //     background-size: contain;
    //     background-repeat: no-repeat;

    //     @media screen and (min-width: 1200px) {
    //         background-image: url(../images/img-hero/hero-desc-decor1-1x.png);
    
    //         @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    //             background-image:  url(../images/img-hero/hero-desc-decor1-2x.png);
    //         }
    //     } 
    //     @media screen and (min-width: 1200px) {
    //         background-image: url(../images/img-hero/hero-desc-decor2-1x.png);
    
    //         @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    //             background-image:  url(../images/img-hero/hero-desc-decor2-2x.png);
    //         }
    //     } 
    //     @media screen and (min-width: 1200px) {
    //         background-image: url(../images/img-hero/hero-desc-decor3-1x.png);
    
    //         @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    //             background-image:  url(../images/img-hero/hero-desc-decor3-2x.png);
    //         }
    //     } 
    // }


}

// @include tablet { 
//     background-image: url(../images/img-hero/hero-desc-decor1-1x.png); 
    // @media (min-device-pixel-ratio: 2), 
    //   (min-resolution: 192dpi), 
    //   (min-resolution: 2dppx) { 
    //   background-image: url(../images/img-hero/hero-desc-decor1-2x.png); 
    // } 
// }


@media screen and (min-width:1200px) {
    .hero {
        height: 860px;
        padding: 180px 623px 209px 142px;

        &_btn {
            width: 306px;
            height: 70px;
            font-weight: 700;
            font-size: 32px;
            font-family: inherit;
        }

        &_wrap {
            display: flex;
        }

        &-title {
            font-family: 'Roboto';
            width: 515px;
            height: 225px;
            font-size: 64px;
            line-height: 1.17;          
            color: var(--text-color);
            font-weight: 600;
            margin-bottom: 40px;
            text-align: left;
            text-transform: inherit;
        }

        &_btn {
            display: block;
            background: var(--accent-color);
            border-radius: 16px;
            height: 51px;
            padding: 16px 20px;
            font-weight: 700;
            font-size: 16px;
            line-height: 1.18;
            color: var(--main-color);
            border: none;
            cursor: pointer;
            text-transform: uppercase;

        }

        &_img {
            width: 50%;
        }

        &_info {
            width: 50%;
            z-index: 1;
        }

    }


    

}

.hero-decor1 {
    width: auto;
    position: absolute;
    top: 65px;
    left: 50%;
}

.hero-decor2 {
    width: 270px;
    position: absolute;
    right: 10%;
    bottom: 40%;
}

.hero-decor3 {
    width: 230px;
    position: absolute;
    bottom: 30%;
    left: 40%;
}

@media screen and (min-width: 768px) {

    .container {
        width: 768px;
        margin: 0;
        padding-left: 40px;
    }

    .hero {
        height: 860px;
        
        &-title {
            width: 388px;
            text-align: left;
            font-weight: 600;
            line-height: 1.17;
            font-size: 56px;
        }
    }
}


// @media screen and (min-width:1200px) {
//     .hero {
//         padding: 69px 0 209px;

//         &_wrap {
//             display: flex;
//             align-items: center;
//         }

//         &_info {
//             width: 50%;
//             min-width: 515px;
//             padding-left: 142px;
//         }

//         &_img {
//             width: 50%;
//             position: relative;
//         }

//         &_img-wrap {
//             top: 50%;
//             position: absolute;
//             transform: translateY(-50%);
//         }

//         &-title {
            // font-style: normal;
            // width: 515px;
            // font-size: 64px;
            // line-height: 75px;          
            // color: var(--text-color);
            // font-weight: 600;
            // margin-bottom: 40px;
//             text-align: left;
//         }
//     }


//     .hero-decor1 {
//         position: absolute;
//         top: 15%;
//         left: 15%;
//         max-width: 133px;
//         max-height: 220px;
//     }

//     .hero-decor2 {
//         top: 15%;
//         right: 17%;
//         max-width: 270px;
//         max-height: 335px;
//     }

//     .hero-decor3 {
//         top: 50%;
//         left: 22%;
//         max-width: 230px;
//     }

// } 

