.hero_container {
  position: relative;
  padding: 180px 37px 180px 36px;
  @media screen and (min-width: 480px) {
    max-width: 768px;
  }
  @media screen and (min-width: 768px) {
    max-width: 1280;
    padding: 290px 340px 208px 40px;
  }
  @media screen and (min-width: 1280px) {
    padding: 316px 702px 209px 142px;
  }
}
.background {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-image: url(../images/img-hero/hero-bg-mob-1.jpg);
  @include retina {
    background-image: url(url(../images/img-hero/hero-bg-mob-2.jpg));
  }
  @media screen and (max-width: 767px) {
    background-size: 900px;
    background-position: top -80px right -140px;
    /* opacity: 0.35; */
  }
  @media screen and (min-width: 768px) {
    background-size: 1280px;
    background-position: top -60px right -180px;
  }
  @media screen and (min-width: 1280px) {
    background-size: 1280px;
    background-position: top -100px right 0px;
  }
}

.background-1 {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  @media screen and (max-width: 767px) {
    background-image: url(../images/img-hero/hero-mob-1-min.png);
    background-position: top -30px right 0px;
    background-size: 320px;
    @include retina {
      background-image: url(../images/img-hero/hero-mob-2-min.png);
    }
  }
  @media screen and (min-width: 768px) {
    background-image: url(../images/img-hero/hero-tab-1-min.png);
    background-position: top 50px right -40px;
    background-size: 500px;
    @include retina {
      background-image: url(../images/img-hero/hero-tab-2-min.png);
    }
  }
  @media screen and (min-width: 1280px) {
    background-image: url(../images/img-hero/hero-desk-1-min.png);
    background-position: top 50px right 100px;
    background-size: 600px;
    @include retina {
      background-image: url(../images/img-hero/hero-desk-2-min.png);
    }
  }
}
.hero_wrap {
  position: relative;
  z-index: 3;
  margin: 0 auto;
  text-align: center;
  @media screen and (min-width: 768px) {
    text-align: left;
  }
}
.hero_title {
  margin: 0 auto;
  max-width: 247px;
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 32px;
  line-height: 1.19;
  color: var(--text-color);
  @media screen and (min-width: 768px) {
    font-size: 56px;
    margin: 0;
    max-width: 436px;
  }
  @media screen and (min-width: 1280px) {
    max-width: 436px;
    font-size: 64px;
    line-height: 1.17;
  }
}

.hero_btn {
  display: inline-block;
  margin-top: 25px;
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.18;
  text-transform: uppercase;
  color: var(--main-color);
  background: var(--accent-color);
  border-radius: 16px;
  padding: 16px 20px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    box-shadow: 0px 8px 20px rgba(134, 229, 67, 0.5),
      0px 4px 10px rgba(255, 255, 255, 0.1);
  }
  @media screen and (min-width: 768px) {
    margin-top: 94px;
    font-size: 32px;
  }
  @media screen and (min-width: 1280px) {
    margin-top: 40px;
  }
}
