.hero {
    background-image: url(../images/img-hero/hero2mob.png), url(../images/img-hero/heromob.jpg);
    background-size: contain, cover;
    background-position: 100% -47px, center;
    background-repeat: no-repeat;

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        & {
            background-image: url(../images/img-hero/hero2mob@2x.png), url(../images/img-hero/heromob@2x.jpg);
        }
    }

    @media screen and (min-width: 768px) {
        background-image: url(../images/img-hero/hero2tab.png), url(../images/img-hero/herotab.jpg);
        background-size: contain, cover;
        background-position: top 33px right 0, center;
        background-repeat: no-repeat;

        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            & {
                background-image: url(../images/img-hero/hero2tab@2x.png), url(../images/img-hero/herotab2x.jpg);
            }
        }
    }

    @media screen and (min-width: 1280px) {
        background-image: url(../images/img-hero/hero2desc.png), url(../images/img-hero/herodesc.jpg);
        background-size: contain, contain;
        background-position: top right, center;


        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            & {
                background-image: url(../images/img-hero/hero2desc@2x.png), url(../images/img-hero/herodesc@2x.jpg);
            }
        }
    }
}

.hero_wrap {
    padding-top: 197px;
    padding-bottom: 102px;
    padding-left: 45px;
    padding-right: 28px;
}

.hero_title {
    max-width: 247px;
    margin: 0 auto;
    font-family: 'Roboto';
    font-weight: 600;
    font-size: 32px;
    line-height: 1.18;
    text-align: center;    
    color: var(--text-color);
    margin-bottom: 25px;
}

.hero_btn {
    width: 173px;
    height: 51px;
    margin: 0 auto;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 16px;
    line-height: 1.18;
    text-transform: uppercase;
    color: var(--main-color);
    background: var(--accent-color);
    border-radius: 16px;

    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 768px) {
    .hero_wrap {
        padding: 154px 340px 128px 40px;
    }
    
    .hero_container {
        height: 695px;
    }

    .hero_title {
        display: block;
        max-width: 388px;
        font-size: 56px;
        line-height: 1.17;
        color: var(--text-color);
        font-weight: 500;
        margin-bottom: 94px;
        text-align: left;
    }

    .hero_btn {
        width: 173px;
        height: 51px;
        margin: 0;
        font-family: 'Roboto';
        font-weight: 700;
        font-size: 16px;
        line-height: 1.18;
        text-transform: uppercase;
        color: var(--main-color);
        background: var(--accent-color);
        border-radius: 16px;
    
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (min-width: 1280px) {

    .hero_wrap {
        padding-top: 180px;
        padding-right: 623px;
        padding-bottom: 209px;
        padding-left: 142px;
    }

    .hero_title {
        font-size: 64px;
        line-height: 1.17;
        margin: 0;
        max-width: 515px;
        text-align: left;
        margin-bottom: 40px;
    }

    .hero_btn {
        width: 173px;
        height: 51px;
        margin: 0;
        font-family: 'Roboto';
        font-weight: 700;
        font-size: 16px;
        line-height: 1.18;
        text-transform: uppercase;
        color: var(--main-color);
        background: var(--accent-color);
        border-radius: 16px;
    
        display: flex;
        justify-content: center;
        align-items: center;
    }
}