.btn-shop{
    width: 62px;
    height: 14px;
    font-weight: 700;
    font-size: 14px;
    line-height: 100%;
    color:var(--button-color);
    background-color:#86E543 ;
    padding: 16px 20px;
}
