:root {
  --accent-color: #86e543;
  --main-color: #01383a;
  --text-color: #ffffff;
  --second-text-color: #8d9289;
  --footer-color: #001414;
  --backdrop-color: rgba(0, 20, 20, 0.8);
  --line-top: #7be34a;
  --line-bottom: #28780d;
  --main-font: 'Roboto', sans-serif;
  --modal-shadow: inset 0px 4px 10px rgba(97, 162, 58, 0.2),
    inset 0px 4px 50px rgba(94, 236, 54, 0.5),
    inset 0px 4px 4px rgba(17, 168, 26, 0.2);
  --header-shadow: 0px 4px 10px rgba(97, 162, 58, 0.2), 
    0px 4px 50px rgba(94, 236, 54, 0.5),
    0px 4px 4px rgba(17, 168, 26, 0.2);
}
