:root {
  --accent-color: #86e543;
  --main-color: #01383a;
  --text-color: #ffffff;
  --second-text-color: #8d9289;
  --footer-color: #001414;
  --backdrop-color: rgba(0, 20, 20, 0.8);
  --line-top: #7be34a;
  --line-bottom: #28780d;
  --button-color:#000000;
  --main-font: 'Roboto', sans-serif;
}
