<!-- Irina Antonishina Blog-page -->

<section class="blog">
  <!-- <div class="blog-container">
    <div class="container">
      <h1 class="blog-title">Blog</h1>
    </div>

    <div class="container-border">
      <div class="container-border1">
        <div class="border-bottom1"></div>
        <div class="border-top1"></div>
      </div>
      <div class="container-border2">
        <div class="border-bottom2"></div>
        <div class="border-top2"></div>
      </div>
    </div> -->
  <div class="blog__line-wrap1">
    <div class="blog__line1"></div>
    <div class="blog__line3"></div>
  </div>
  <div class="blog__line-wrap2">
    <div class="blog__line2"></div>
    <div class="blog__line4"></div>
  </div>
  <!------------------ Blog 1 ---------------------->
  <div class="container fon-blog-container">
    <div class="blog__decor">
      <h1 class="blog-title">Blog</h1>
      <div class="blog__border-wrap1">
        <div class="blog__border1"></div>
        <div class="blog__border3"></div>
      </div>
      <div class="blog__border-wrap2">
        <div class="blog__border2"></div>
        <div class="blog__border4"></div>
      </div>
    </div>
    <ul class="blog-list">
      <li class="blog-list__item">
        <h2 class="blog-article-title">
          Guide to Picking The Right Gaming Headset
        </h2>

        <div class="container-tablet-blog">
          <div class="container-tablet-img">
            <picture>
              <source
                srcset="
                  ./images/img-blog-page/1x-pict1-desktop1-blog.jpg 1x,
                  ./images/img-blog-page/2x-pict1-desktop1-blog.jpg 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./images/img-blog-page/1x-pict1-tablet1-blog.jpg 1x,
                  ./images/img-blog-page/2x-pict1-tablet1-blog.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./images/img-blog-page/1x-pict1-mob-blog.jpg 1x,
                  ./images/img-blog-page/2x-pict1-mob-blog.jpg 2x
                "
                media="(min-width: 480px)"
              />
              <img
                class="blog-img"
                src="./images/img-blog-page/1x-pict1-mob-blog.jpg"
                alt="gaming headset"
                width="387"
              />
            </picture>
          </div>
          <div class="container-tablet-autor">
            <p class="blog-autor">By Ray Ian Ampoloquio</p>
            <p class="blog-updated">Updated on September 21, 2022</p>
          </div>
        </div>

        <p class="blog-text">
          Learn how to choose an amazing gaming headset with this checklist of
          just 9 surprisingly simple steps. Gaming headsets offer a handy and
          practical solution to any and all of your gaming audio needs. But, as
          with any kind of ...
        </p>
        <a href="./blog-article.html" class="blog-learn-more">Learn more</a>
      </li>
      <!---------------Desktop --------->
      <li class="blog-list__item-desktop">
        <div class="container-desktop-blog">
          <div class="container-desktop-img">
            <picture>
              <source
                srcset="
                  ./images/img-blog-page/1x-pict1-desktop1-blog.jpg 1x,
                  ./images/img-blog-page/2x-pict1-desktop1-blog.jpg 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./images/img-blog-page/1x-pict1-tablet1-blog.jpg 1x,
                  ./images/img-blog-page/2x-pict1-tablet1-blog.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./images/img-blog-page/1x-pict1-mob-blog.jpg 1x,
                  ./images/img-blog-page/2x-pict1-mob-blog.jpg 2x
                "
                media="(min-width: 480px)"
              />

              <img
                class="blog-img"
                src="./images/img-blog-page/1x-pict1-mob-blog.jpg"
                alt="gaming headset"
                width="387"
                height="364"
              />
            </picture>
          </div>
          <div class="container-desktop-text">
            <h2 class="blog-article-title">
              Guide to Picking The Right Gaming Headset
            </h2>
            <div class="container-desktop-autor">
              <p class="blog-autor">By Ray Ian Ampoloquio</p>
              <p class="blog-updated">Updated on September 21, 2022</p>
            </div>
            <p class="blog-text">
              Learn how to choose an amazing gaming headset with this checklist
              of just 9 surprisingly simple steps. Gaming headsets offer a handy
              and practical solution to any and all of your gaming audio needs.
              But, as with any kind of ...
            </p>

            <a href="./blog-article.html" class="blog-learn-more">Learn more</a>
          </div>
        </div>
      </li>
      <!---------------------- Blog 2 -------------------------------->
      <li class="blog-list__item">
        <h2 class="blog-article-title">
          Mic Monitoring: What Is It and How It Is Relevant to Gaming
        </h2>
        <div class="container-tablet-blog">
          <div class="container-tablet-img">
            <picture>
              <source
                srcset="
                  ./images/img-blog-page/1x-pict2-desktop2-blog.jpg 1x,
                  ./images/img-blog-page/2x-pict2-desktop2-blog.jpg 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./images/img-blog-page/1x-pict2-tablet2-blog.jpg 1x,
                  ./images/img-blog-page/2x-pict2-tablet2-blog.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./images/img-blog-page/1x-pict2-mob-blog.jpg 1x,
                  ./images/img-blog-page/2x-pict2-mob-blog.jpg 2x
                "
                media="(min-width: 480px)"
                type="image/jpeg"
              />
              <img
                class="blog-img"
                src="./images/img-blog-page/1x-pict2-mob-blog.jpg"
                alt="mic monitoring"
                width="387"
              />
            </picture>
          </div>
          <div class="container-tablet-autor">
            <p class="blog-autor">By Gab L</p>
            <p class="blog-updated">Updated on September 10, 2022</p>
          </div>
        </div>

        <p class="blog-text">
          An explanation and exploration of microphone monitoring — its benefits
          and how you can start using one of the most underrated features today
          ...
        </p>
        <a href="./blog-article.html" class="blog-learn-more">Learn more</a>
      </li>
      <!------------------ Desctop --------------------------->
      <li class="blog-list__item-desktop">
        <div class="container-desktop-blog">
          <div class="container-desktop-img">
            <picture>
              <source
                srcset="
                  ./images/img-blog-page/1x-pict2-desktop2-blog.jpg 1x,
                  ./images/img-blog-page/2x-pict2-desktop2-blog.jpg 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./images/img-blog-page/1x-pict2-tablet2-blog.jpg 1x,
                  ./images/img-blog-page/2x-pict2-tablet2-blog.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./images/img-blog-page/1x-pict2-mob-blog.jpg 1x,
                  ./images/img-blog-page/2x-pict2-mob-blog.jpg 2x
                "
                media="(min-width: 480px)"
              />

              <img
                class="blog-img"
                src="./images/img-blog-page/1x-pict2-mob-blog.jpg"
                alt="gaming headset"
                width="387"
              />
            </picture>
          </div>
          <div class="container-desktop-text">
            <h2 class="blog-article-title">
              Mic Monitoring: What Is It and How It Is Relevant to Gaming
            </h2>
            <div class="container-desktop-autor">
              <p class="blog-autor">By Gab L</p>
              <p class="blog-updated">Updated on September 10, 2022</p>
            </div>
            <p class="blog-text">
              An explanation and exploration of microphone monitoring — its
              benefits and how you can start using one of the most underrated
              features today ...
            </p>
            <a href="./blog-article.html" class="blog-learn-more">Learn more</a>
          </div>
        </div>
      </li>
      <!--------------------- Blog 3 ------------------------>
      <li class="blog-list__item">
        <h2 class="blog-article-title">How to Choose the Right Gaming Mouse</h2>
        <div class="container-tablet-blog">
          <div class="container-tablet-img">
            <picture>
              <source
                srcset="
                  ./images/img-blog-page/1x-pict3-desktop3-blog.jpg 1x,
                  ./images/img-blog-page/2x-pict3-desktop3-blog.jpg 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./images/img-blog-page/1x-pict3-tablet3-blog.jpg 1x,
                  ./images/img-blog-page/2x-pict3-tablet3-blog.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./images/img-blog-page/1x-pict3-mob-blog.jpg 1x,
                  ./images/img-blog-page/2x-pict3-mob-blog.jpg 2x
                "
                media="(min-width: 480px)"
              />

              <img
                class="blog-img"
                src="./images/img-blog-page/1x-pict3-mob-blog.jpg"
                alt="game mouse test"
                width="387"
              />
            </picture>
          </div>

          <div class="container-tablet-autor">
            <p class="blog-autor">By Michael Crider</p>
            <p class="blog-updated">Updated on September 2, 2022</p>
          </div>
        </div>

        <p class="blog-text">
          A good mouse can make a big difference when playing your favorite
          games. Here’s what you need to know about grip styles, types of gaming
          mice, technical specs, and more, before purchasing a new gaming mouse
          ...
        </p>
        <a href="./blog-article.html" class="blog-learn-more">Learn more</a>
      </li>
      <!-- ----------------Desktop----------------- -->
      <li class="blog-list__item-desktop">
        <div class="container-desktop-blog">
          <div class="container-desktop-img">
            <picture>
              <source
                srcset="
                  ./images/img-blog-page/1x-pict3-desktop3-blog.jpg 1x,
                  ./images/img-blog-page/2x-pict3-desktop3-blog.jpg 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./images/img-blog-page/1x-pict3-tablet3-blog.jpg 1x,
                  ./images/img-blog-page/2x-pict3-tablet3-blog.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./images/img-blog-page/1x-pict3-mob-blog.jpg 1x,
                  ./images/img-blog-page/2x-pict3-mob-blog.jpg 2x
                "
                media="(min-width: 480px)"
              />

              <img
                class="blog-img"
                src="./images/img-blog-page/1x-pict3-mob-blog.jpg"
                alt="gaming headset"
                width="387"
              />
            </picture>
          </div>
          <div class="container-desktop-text">
            <h2 class="blog-article-title">
              How to Choose the Right Gaming Mouse
            </h2>
            <div class="container-desktop-autor">
              <p class="blog-autor">By Michael Crider</p>
              <p class="blog-updated">Updated on September 2, 2022</p>
            </div>
            <p class="blog-text">
              A good mouse can make a big difference when playing your favorite
              games. Here’s what you need to know about grip styles, types of
              gaming mice, technical specs, and more, before purchasing a new
              gaming mouse ...
            </p>
            <a href="./blog-article.html" class="blog-learn-more">Learn more</a>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <!-- </div> -->
  <div class="center_circle">
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
  </div>
</section>
