<!-- Irina Antonishina Blog-page -->
<div class="blog-container">
  <div class="container">
    <h1 class="blog-title">Blog</h1>
  </div>

  <div class="container-border">
    <div class="container-border1">
      <div class="border-bottom1"></div>
      <div class="border-top1"></div>
    </div>
    <div class="container-border2">
      <div class="border-bottom2"></div>
      <div class="border-top2"></div>
    </div>
  </div>
  <section class="blog">
    <!------------------ Blog 1 ---------------------->
    <div class="container">
      <ul class="blog-list">
        <li class="blog-list__item">
          <h2 class="blog-article-title">
            Guide to Picking The Right Gaming Headset
          </h2>

          <div class="container-tablet-blog">
            <div class="container-tablet-img">
              <picture>
                <source
                  srcset="
                    ./images/img-blog-page/1x-pict1-mob-blog.jpg 1x,
                    ./images/img-blog-page/2x-pict1-mob-blog.jpg 2x
                  "
                  media="(min-width: 480px)"
                />
                <source
                  srcset="
                    ./images/img-blog-page/1x-pict1-tablet-blog.jpg 1x,
                    ./images/img-blog-page/2x-pict1-tablet-blog.jpg 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./images/img-blog-page/1x-pict1-desktop-blog.jpg 1x,
                    ./images/img-blog-page/2x-pict1-desktop-blog.jpg 2x
                  "
                  media="(min-width: 1280px)"
                />
                <img
                  class="blog-img"
                  src="./images/img-blog-page/1x-pict1-desktop-blog.jpg"
                  alt="gaming headset"
                  width="387"
                />
              </picture>
            </div>
            <div class="container-tablet-autor">
              <p class="blog-autor">By Ray Ian Ampoloquio</p>
              <p class="blog-updated">Updated on September 21, 2022</p>
            </div>
          </div>

          <p class="blog-text">
            Learn how to choose an amazing gaming headset with this checklist of
            just 9 surprisingly simple steps. Gaming headsets offer a handy and
            practical solution to any and all of your gaming audio needs. But,
            as with any kind of ...
          </p>
          <a href="#" class="blog-learn-more">Learn more</a>
        </li>
        <!---------------------- Blog 2 -------------------------------->
        <li class="blog-list__item">
          <h2 class="blog-article-title">
            Mic Monitoring: What Is It and How It Is Relevant to Gaming
          </h2>
          <div class="container-tablet-blog">
            <div class="container-tablet-img">
              <picture>
                <source
                  srcset="
                    ./images/img-blog-page/1x-pict2-mob-blog.jpg 1x,
                    ./images/img-blog-page/2x-pict2-mob-blog.jpg 2x
                  "
                  media="(min-width: 480px)"
                  type="image/jpeg"
                />
                <source
                  srcset="
                    ./images/img-blog-page/1x-pict2-tablet-blog.jpg 1x,
                    ./images/img-blog-page/2x-pict2-tablet-blog.jpg 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./images/img-blog-page/1x-pict2-desktop-blog.jpg 1x,
                    ./images/img-blog-page/2x-pict2-desktop-blog.jpg 2x
                  "
                  media="(min-width: 1280px)"
                />
                <img
                  class="blog-img"
                  src="./images/img-blog-page/1x-pict2-desktop-blog.jpg"
                  alt="mic monitoring"
                  width="387"
                />
              </picture>
            </div>
            <div class="container-tablet-autor">
              <p class="blog-autor">By Gab L</p>
              <p class="blog-updated">Updated on September 10, 2022</p>
            </div>
          </div>

          <p class="blog-text">
            An explanation and exploration of microphone monitoring — its
            benefits and how you can start using one of the most underrated
            features today ...
          </p>
          <a href="#" class="blog-learn-more">Learn more</a>
        </li>
        <!--------------------- Blog 3 ------------------------>
        <li class="blog-list__item">
          <h2 class="blog-article-title">
            How to Choose the Right Gaming Mouse
          </h2>
          <div class="container-tablet-blog">
            <div class="container-tablet-img">
              <picture>
                <source
                  srcset="
                    ./images/img-blog-page/1x-pict3-mob-blog.jpg 1x,
                    ./images/img-blog-page/2x-pict3-mob-blog.jpg 2x
                  "
                  media="(min-width: 480px)"
                />
                <source
                  srcset="
                    ./images/img-blog-page/1x-pict3-tablet-blog.jpg 1x,
                    ./images/img-blog-page/2x-pict3-tablet-blog.jpg 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./images/img-blog-page/1x-pict3-desktop-blog.jpg 1x,
                    ./images/img-blog-page/2x-pict3-desktop-blog.jpg 2x
                  "
                  media="(min-width: 1280px)"
                />
                <img
                  class="blog-img"
                  src="./images/img-blog-page/1x-pict3-desktop-blog.jpg"
                  alt="game mouse test"
                  width="387"
                />
              </picture>
            </div>

            <div class="container-tablet-autor">
              <p class="blog-autor">By Michael Crider</p>
              <p class="blog-updated">Updated on September 2, 2022</p>
            </div>
          </div>

          <p class="blog-text">
            A good mouse can make a big difference when playing your favorite
            games. Here’s what you need to know about grip styles, types of
            gaming mice, technical specs, and more, before purchasing a new
            gaming mouse ...
          </p>
          <a href="#" class="blog-learn-more">Learn more</a>
        </li>
      </ul>
    </div>
  </section>
</div>
