<!DOCTYPE html>
<section>
<button type="button" class="btn-shop">
    Shop now
</button>
<button type="button" class="">
    Start shopping
</button>
<button type="button" class="">
    View all
</button>
<button type="button" class="">
   
</button>
<button type="button" class="">
   
</button>
<button type="button" class="">
    Buy it now
</button>
<button type="button" class="">
    ADD TO CART
</button>
<button type="button" class="">
    SEND
</button>
<button type="button" class="">
    All
</button>
<button type="button" class="">
    Headsets
</button>
<button type="button" class="">
    Keyboards
</button>
<button type="button" class="">
    Mouses
</button>


</section>