<!DOCTYPE html> 
<section>
<button type="button" class="btn-shop">
    Shop now
</button>
<button type="button" class="btn-start">
    Start shopping
</button>
<button type="button" class="btn-wiev">
    View all
</button>
<ul class="order">
    <li><button type="button" class="btn-buy">Buy it now</button>
</li>
    <li><button type="button" class="btn-add-cart"> ADD TO CART</button>
</li>
</ul>
<button type="button" class="btn-send">
    SEND
</button>
<ul class="filter">
    <li>
<button type="button" class="btn-all">All</button>
    </li>
    <li>
<button type="button" class="btn-all">Headsets</button>
    </li>
    <li>
    <button type="button" class="btn-all">Keyboards</button>
    </li>
    <li>
    <button type="button" class="btn-all">Mouses</button>
    </li>
</ul>
<ul class="menu">
    <li>
        <button type="button" class="btn-menu">Accessories</button>
        </li>
         <li>
        <button type="button" class="btn-menu">Take order</button>
        </li>
        <li>
        <button type="button" class="btn-menu">Contact</button>
        </li>
        <li>
        <button type="button" class="btn-menu">Blog</button>
        </li>
</ul>
<button type="button" class=" cool">
    Cool
</button>
<button type="button" class="bad">
    bad
</button>
</section>