<footer class="footer">
    <div class="footer-top-title">
      <p class="footer-title">SHOP FOR GAMERS</p>
    </div>
    <div class="footer-container">
      <ul class="footer-list">
        <li><a class="footer-link" href="">Accessories</a></li>
        <li><a class="footer-link" href="">Take order</a></li>
        <li><a class="footer-link" href="">Contact</a></li>
        <li><a class="footer-link" href="">Blog</a></li>
      </ul>
      <div class="footer-social">
        <ul class="footer-social-list">
          <li>
            <a class="footer-link-svg" href="#">
              <svg class="footer-svg" width="12" height="12">
                <use href="./images/symbol-defs.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li>
            <a class="footer-link-svg" href="#">
              <svg class="footer-svg" width="12" height="12">
                <use href="./images/symbol-defs.svg#icon-youtube"></use>
              </svg>
            </a>
          </li>
          <li>
            <a class="footer-link-svg" href="#">
              <svg class="footer-svg" width="12" height="12">
                <use href="./images/symbol-defs.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div>
      <p class="footer-link-mail">Email</p>
      <a class="footer-mail" href="mailto:sfg.info@gmail.com"
        >sfg.info@gmail.com</a
      >
      <p class="footer-link-tel">Phone number</p>
      <ul class="footer-list-link">
        <li>
          <a class="footer-tel" href="tel:+380936432288"
            >+38 (093) 643 22 88</a
          >
        </li>
        <li>
          <a class="footer-tel" href="tel:+380503454423"
            >+38 (050) 345 44 23</a
          >
        </li>
      </ul>
    </div>
  </footer>