<footer class="footer">
  <div class="footer-content">
    <div class="footer-top-title">
      <a class="footer-title" href="./index.html">SHOP FOR GAMERS</a>
    </div>
    <div class="footer-container">
      <ul class="footer-list">
        <li><a class="footer-link" href="./accessories-page.html">Accessories</a></li>
        <li><a class="footer-link" href="./take-order-page.html">Take order</a></li>
        <li><a class="footer-link" href="./contacts-page.html">Contact</a></li>
        <li><a class="footer-link" href="./blog-page.html">Blog</a></li>
      </ul>
      <div class="footer-social">
        <ul class="footer-social-list">
          <li>
            <a class="footer-link-svg" href="https://www.instagram.com/" target="_blank"
            rel="noopener noreferrer">              
              <svg class="footer-svg" width="12" height="12">
                <use href="./images/symbol-defs.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li>
            <a class="footer-link-svg" href="https://www.youtube.com/" target="_blank"
            rel="noopener noreferrer">
              <svg class="footer-svg" width="12" height="12">
                <use href="./images/symbol-defs.svg#icon-youtube"></use>
              </svg>
            </a>
          </li>
          <li>
            <a class="footer-link-svg" href="https://www.facebook.com/" target="_blank"
            rel="noopener noreferrer">
              <svg class="footer-svg" width="12" height="12">
                <use href="./images/symbol-defs.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div>
      <p class="footer-link-mail">Email</p>
      <a class="footer-mail" href="mailto:sfg.info@gmail.com"
        >sfg.info@gmail.com</a
      >
      <p class="footer-link-tel">Phone number</p>
      <ul class="footer-list-link">
        <li>
          <a class="footer-tel" href="tel:+380936432288"
            >+38 (093) 643 22 88</a
          >
        </li>
        <li>
          <a class="footer-tel" href="tel:+380503454423"
            >+38 (050) 345 44 23</a
          >
        </li>
      </ul>
    </div>
  </div>
    
  </footer>