<section class="gallery-section">
  <h2 class="is-hidden">Gaming area and cozy place</h2>
  <div class="swiper mySwiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <picture class="gallery-border">
          <source
            srcset="
              ./images/img-gallery/gallery-desk-1-web.webp    1x,
              ./images/img-gallery/gallery-desk-1-2x-web.webp 2x
            "
            media="(min-width: 1280px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/img-gallery/gallery-desk-1.jpg    1x,
              ./images/img-gallery/gallery-desk-1-2x.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./images/img-gallery/gallery-tab-1-web.webp    1x,
              ./images/img-gallery/gallery-tab-1-2x-web.webp 2x
            "
            media="(min-width: 768px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/img-gallery/gallery-tab-1.jpg    1x,
              ./images/img-gallery/gallery-tab-1-2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/img-gallery/gallery-mob-1-web.webp    1x,
              ./images/img-gallery/gallery-mob-1-2x-web.webp 2x
            "
            media="(max-width: 767.9px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/img-gallery/gallery-mob-1.jpg    1x,
              ./images/img-gallery/gallery-mob-1-2x.jpg 2x
            "
            media="(max-width: 767.9px)"
          />
          <img
            src="./images/img-gallery/gallery-desk-1.jpg"
            alt=""
            width="1280"
          />
        </picture>
        <p class="gallery-text gallery-text-one gallery-mob">
          One place <br />
          for everything you want
        </p>
        <p class="gallery-text gallery-text-one gallery-tab">
          One place for <br />
          everything you want
        </p>
      </div>
      <div class="swiper-slide">
        <picture class="gallery-border">
          <source
            srcset="
              ./images/img-gallery/gallery-desk-2-web.webp    1x,
              ./images/img-gallery/gallery-desk-2-2x-web.webp 2x
            "
            media="(min-width: 1280px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/img-gallery/gallery-desk-2.jpg    1x,
              ./images/img-gallery/gallery-desk-2-2x.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./images/img-gallery/gallery-tab-2-web.webp    1x,
              ./images/img-gallery/gallery-tab-2-2x-web.webp 2x
            "
            media="(min-width: 768px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/img-gallery/gallery-tab-2.jpg    1x,
              ./images/img-gallery/gallery-tab-2-2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/img-gallery/gallery-mob-2-web.webp    1x,
              ./images/img-gallery/gallery-mob-2-2x-web.webp 2x
            "
            media="(max-width: 767.9px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/img-gallery/gallery-mob-2.jpg    1x,
              ./images/img-gallery/gallery-mob-2-2x.jpg 2x
            "
            media="(max-width: 767.9px)"
          />
          <img
            src="./images/img-gallery/gallery-desk-2.jpg"
            alt=""
            width="1280"
          />
        </picture>
        <p class="gallery-text gallery-text-two gallery-text-two-tab">
          Best shop for buying
          <span class="gallery-text-two-span"> gaming products</span>
        </p>
      </div>
      <div class="swiper-slide">
        <picture class="gallery-border">
          <source
            srcset="
              ./images/img-gallery/gallery-desk-3-web.webp    1x,
              ./images/img-gallery/gallery-desk-3-2x-web.webp 2x
            "
            media="(min-width: 1280px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/img-gallery/gallery-desk-3.jpg    1x,
              ./images/img-gallery/gallery-desk-3-2x.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./images/img-gallery/gallery-tab-3-web.webp    1x,
              ./images/img-gallery/gallery-tab-3-2x-web.webp 2x
            "
            media="(min-width: 768px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/img-gallery/gallery-tab-3.jpg    1x,
              ./images/img-gallery/gallery-tab-3-2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/img-gallery/gallery-mob-3-web.webp    1x,
              ./images/img-gallery/gallery-mob-3-2x-web.webp 2x
            "
            media="(max-width: 767.9px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/img-gallery/gallery-mob-3.jpg    1x,
              ./images/img-gallery/gallery-mob-3-2x.jpg 2x
            "
            media="(max-width: 767.9px)"
          />
          <img
            src="./images/img-gallery/gallery-desk-3.jpg"
            alt=""
            width="1280"
          />
        </picture>
        <p class="gallery-text gallery-text-three">
          High-quality products <br />
          in lowest price
        </p>
      </div>
    </div>
    <div class="swiper-pagination"></div>
  </div>
</section>
