<header class="header">
  <div class="header__container container">
    <a href="./index.html" class="header__logo animate__zoomIn animate__flip animate__pulse animate__animated">Shop for
      gamers</a>
    <div class="header__burger" data-menu-open>
      <span class="header__burger-line"></span>
      <span class="header__burger-line"></span>
      <span class="header__burger-line"></span>
    </div>
    <nav class="header__nav" data-menu>
      <ul class="header__menu">
        <li class="header__menu-item"><a class="header__menu-link" href="./accessories-page.html">Accessories</a></li>
        <li class="header__menu-item"><a class="header__menu-link" href="./contacts-page.html">Contact</a></li>
        <li class="header__menu-item"><a class="header__menu-link" href="./blog-page.html">Blog</a></li>
      </ul>
    </nav>
    <a href="./accessories-page.html" class="header__btn-link">Shop now</a>
  </div>
</header>



<!-- <header class="header">
  <div class="header-container">
    <a href="./index.html" class="header-logo link">Shop for gamers</a>
    <button class="header-btn-open" data-modal-open>
      <svg width="54" height="36" class="header-open-icon">
        <use href="./images/symbol-defs.svg#icon-menu_burger-mobile"></use>
      </svg>
    </button>
    <nav class="header-nav">
      <ul class="header-nav-list list">
        <li class="header-nav-item">
          <a class="header-nav-link link" href="./accessories-page.html"
            >Accessories</a
          >
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link link" href="./contacts-page.html"
            >Contact</a
          >
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link link" href="./blog-page.html">Blog</a>
        </li>
      </ul>
    </nav>
    <a href="./accessories-page.html" class="header-btn-tab link">Shop now</a>
  </div>

  <div class="header-backdrop is-hidden" data-modal>
    <div class="header-top-wrapper">
      <div class="header-container">
        <a href="./index.html" class="header-logo link">Shop for gamers</a>
        <button class="header-btn-close" data-modal-close>
          <svg width="36" height="36" class="header-close-icon">
            <use href="./images/symbol-defs.svg#icon-menu_cross-mobile"></use>
          </svg>
        </button>
        <a href="./accessories-page.html" class="header-btn-tab link"
          >Shop now</a
        >
      </div>
    </div>
    <nav class="header-menu-nav">
      <ul class="header-menu-list list">
        <li class="header-menu-item">
          <a class="header-menu-link link" href="./accessories-page.html"
            >Accessories</a
          >
        </li>
        <li class="header-menu-item">
          <a class="header-menu-link link" href="./contacts-page.html"
            >Contact</a
          >
        </li>
        <li class="header-menu-item">
          <a class="header-menu-link link" href="./blog-page.html">Blog</a>
        </li>
      </ul>
    </nav>
  </div>
  <script src="./js/modal.js"></script>
</header> -->
