<header class="header">
  <div class="header__container containers">
    <!--Desktop-->
    <div class="header__desktop">
      <a href="./index.html" class="header__logo">SHOP FOR GAMERS</a>
      <nav class="header__nav">
        <ul class="header__menu">
          <li class="header__menu-item">
            <a href="./accessories-page.html" class="header__menu-link"
              >Accessories</a
            >
          </li>
          <li class="header__menu-item">
            <a href="./contacts-page.html" class="header__menu-link">Contact</a>
          </li>
          <li class="header__menu-item">
            <a href="./blog-page.html" class="header__menu-link">Blog</a>
          </li>
        </ul>
      </nav>
      <button type="button" class="header__btn">Shop now</button>
    </div>

    <!--Mobile-->

    <div class="header__mobile">
      <a href="./index.html" class="header__logo">SHOP FOR GAMERS</a>
      <div class="header__burger" data-menu-botton>
        <span class="header__burger-line"></span>
        <span class="header__burger-line"></span>
        <span class="header__burger-line"></span>
      </div>
      <div class="header__nav-container" data-menu id="mobile-menu">
        <nav class="header__nav">
          <ul class="header__menu">
            <li class="header__menu-item">
              <a href="./index.html" class="header__menu-link">Accessories</a>
            </li>
            <li class="header__menu-item">
              <a href="./index.html" class="header__menu-link">Contact</a>
            </li>
            <li class="header__menu-item">
              <a href="./index.html" class="header__menu-link">Blog</a>
            </li>
          </ul>
        </nav>
      </div>
      <button type="button" class="header__btn">Shop now</button>
    </div>
  </div>
</header>
