<section class="hero">
    <div class="container">
        <div class="hero_wrap">
            <div class="hero_info">
                <h1 class="hero-title">Best shop for buying gaming products</h1>
                <button class="hero_btn">Start shopping</button>
            </div>
            <div class="hero_img">
                <div class="hero_img-wrap">
                    <picture>
                        <source
                        srcset="
                            ./images/img-hero/hero-desc-decor1-1x.png 1x,
                            ./images/img-hero/hero-desc-decor1-2x.png 2x
                        "
                        media="(min-width: 1200px)"
                        />
                        <source
                        srcset="
                            ./images/img-hero/hero-tablet-decor1-1x.png 1x,
                            ./images/img-hero/hero-tablet-decor1-2x.png 2x
                        "
                        media="(min-width: 768px)"
                        />
                        <source
                        srcset="
                            ./images/img-hero/hero-mobile-decor1-1x.png 1x,
                            ./images/img-hero/hero-mobile-decor1-2x.png 2x
                        "
                        media="(min-width: 320px)"
                        />
                        <img
                        src="./images/img-hero/decor1.png"
                        alt="hero-decor1"
                        width="133"
                        height="220"
                        class="hero-decor1"
                        />
                    </picture>
                    <picture>
                        <source
                        srcset="
                            ./images/img-hero/hero-desc-decor2-1x.png 1x,
                            ./images/img-hero/hero-desc-decor2-2x.png 2x
                        "
                        media="(min-width: 1200px)"
                        />
                        <source
                        srcset="
                            ./images/img-hero/hero-tablet-decor2-1x.png 1x,
                            ./images/img-hero/hero-tablet-decor2-2x.png 2x
                        "
                        media="(min-width: 768px)"
                        />
                        <source
                        srcset="
                            ./images/img-hero/hero-mobile-decor2-1x.png 1x,
                            ./images/img-hero/hero-mobile-decor2-2x.png 2x
                        "
                        media="(min-width: 320px)"
                        />
                        <img
                        src="./images/img-hero/hero-desc-decor2-1x.png"
                        alt="hero-decor2"
                        width="270"
                        class="hero-decor2"
                        />
                    </picture>
                    <picture>
                        <source
                        srcset="
                            ./images/img-hero/hero-desc-decor3-1x.png 1x,
                            ./images/img-hero/hero-desc-decor3-2x.png 2x
                        "
                        media="(min-width: 1200px)"
                        />
                        <source
                        srcset="
                            ./images/img-hero/hero-tablet-decor3-1x.png 1x,
                            ./images/img-hero/hero-tablet-decor3-2x.png 2x
                        "
                        media="(min-width: 768px)"
                        />
                        <source
                        srcset="
                            ./images/img-hero/hero-mobile-decor3-1x.png 1x,
                            ./images/img-hero/hero-mobile-decor3-2x.png 2x
                        "
                        media="(min-width: 320px)"
                        />
                        <img
                        src="./images/img-hero/hero-desc-decor3-1x.png"
                        alt="hero-decor3"
                        width="230"
                        class="hero-decor3"
                        />
                    </picture>
                </div>
            </div>
        </div>
    </div>
</section>