<section class="sale">
  <div class="sale__line-wrap1">
    <div class="sale__line1"></div>
    <div class="sale__line3"></div>
  </div>
  <div class="sale__line-wrap2">
    <div class="sale__line2"></div>
    <div class="sale__line4"></div>
  </div>
  <div class="container fon-container">
    <div class="sale__decor">
      <h1 class="sale-title">Sale</h1>
      <div class="sale__border-wrap1">
        <div class="sale__border1"></div>
        <div class="sale__border3"></div>
      </div>
      <div class="sale__border-wrap2">
        <div class="sale__border2"></div>
        <div class="sale__border4"></div>
      </div>
    </div>
    <ul class="sale__list">
      <li class="sale__item">
        <a href="./take-order-page.html" class="sale__link">
          <div class="sale__overflow">
            <picture>
              <source
                class="sale__img"
                srcset="
                  ./images/img-sale/xiberia-k9--x1.jpg 1x,
                  ./images/img-sale/xiberia-k9--x2.jpg 2x
                "
              />
              <img
                class="sale__img"
                src="./images/img-sale/xiberia-k9--x1.jpg"
                alt="Xiberia K9 PRO PC Headset"
                width="285"
              />
            </picture>
            <div class="sale__list-text-cover">
              <p class="sale__text-cover">100% Brand new and high quality!</p>
              <p class="sale__text-cover">
                Ergonomic in design makes it more adjustable to use.
              </p>
              <p class="sale__text-cover">
                More fashionable for your daily use, such as playing games.
              </p>
              <p class="sale__text-cover">
                Built-in high sensitivity and noise reduction microphone.
              </p>
              <p class="sale__text-cover">
                It is not easy to break or deform, and wear comfortable, no
                pressure.
              </p>
            </div>
          </div>
          <div class="sale__content">
            <p class="sale__text">Xiberia K9 PRO PC Headset</p>
            <div class="sale__price-wrap">
              <p class="sale__price">65.14 USD</p>
              <p class="sale__price-action">55.14 USD</p>
            </div>
          </div>
        </a>
      </li>
      <li class="sale__item sale-tablet">
        <a href="./take-order-page.html" class="sale__link">
          <div class="sale__overflow">
            <picture>
              <source
                class="sale__img"
                srcset="
                  ./images/img-sale/g95-light-surround-blue--x1.jpg 1x,
                  ./images/img-sale/g95-light-surround-blue--x2.jpg 2x
                "
              />
              <img
                class="sale__img"
                src="./images/img-sale/g95-light-surround-blue--x1.jpg"
                alt="G95 Light Surround Gaming Headset"
                width="285"
              />
            </picture>
            <div class="sale__list-text-cover">
              <p class="sale__text-cover">100% Brand new and high quality!</p>
              <p class="sale__text-cover">
                Ergonomic in design makes it more adjustable to use.
              </p>
              <p class="sale__text-cover">
                More fashionable for your daily use, such as playing games.
              </p>
              <p class="sale__text-cover">
                Built-in high sensitivity and noise reduction microphone.
              </p>
              <p class="sale__text-cover">
                It is not easy to break or deform, and wear comfortable, no
                pressure.
              </p>
            </div>
          </div>
          <div class="sale__content">
            <p class="sale__text">G95 Light Surround Gaming Headset</p>
            <div class="sale__price-wrap">
              <p class="sale__price">72.78 USD</p>
              <p class="sale__price-action">51.78 USD</p>
            </div>
          </div>
        </a>
      </li>
      <li class="sale__item sale-position">
        <a href="./take-order-page.html" class="sale__link">
          <div class="sale__overflow">
            <picture>
              <source
                class="sale__img"
                srcset="
                  ./images/img-sale/rgb-led-backlit--x1.jpg 1x,
                  ./images/img-sale/rgb-led-backlit--x2.jpg 2x
                "
              />
              <img
                class="sale__img"
                src="./images/img-sale/rgb-led-backlit--x1.jpg"
                alt="RGB LED Backlit Mechanical Keyboard"
                width="285"
              />
            </picture>
            <div class="sale__list-text-cover">
              <p class="sale__text-cover">100% Brand new and high quality!</p>
              <p class="sale__text-cover">
                Ergonomic in design makes it more adjustable to use.
              </p>
              <p class="sale__text-cover">
                More fashionable for your daily use, such as playing games.
              </p>
              <p class="sale__text-cover">
                Built-in high sensitivity and noise reduction microphone.
              </p>
              <p class="sale__text-cover">
                It is not easy to break or deform, and wear comfortable, no
                pressure.
              </p>
            </div>
          </div>
          <div class="sale__content">
            <p class="sale__text">RGB LED Backlit Mechanical Keyboard</p>
            <div class="sale__price-wrap">
              <p class="sale__price">156.00 USD</p>
              <p class="sale__price-action">116.00 USD</p>
            </div>
          </div>
        </a>
      </li>
      <li class="sale__item sale-tablet sale-position">
        <a href="./take-order-page.html" class="sale__link">
          <div class="sale__overflow">
            <picture>
              <source
                class="sale__img"
                srcset="
                  ./images/img-sale/k569-rgb-led-backlit--x1.jpg 1x,
                  ./images/img-sale/k569-rgb-led-backlit--x2.jpg 2x
                "
              />
              <img
                class="sale__img"
                src="./images/img-sale/k569-rgb-led-backlit--x1.jpg"
                alt="K569 RGB LED Backlit Mechanical Keyboard"
                width="285"
              />
            </picture>
            <div class="sale__list-text-cover">
              <p class="sale__text-cover">100% Brand new and high quality!</p>
              <p class="sale__text-cover">
                Ergonomic in design makes it more adjustable to use.
              </p>
              <p class="sale__text-cover">
                More fashionable for your daily use, such as playing games.
              </p>
              <p class="sale__text-cover">
                Built-in high sensitivity and noise reduction microphone.
              </p>
              <p class="sale__text-cover">
                It is not easy to break or deform, and wear comfortable, no
                pressure.
              </p>
            </div>
          </div>
          <div class="sale__content">
            <p class="sale__text">K569 RGB LED Backlit Mechanical Keyboard</p>
            <div class="sale__price-wrap">
              <p class="sale__price">156.98 USD</p>
              <p class="sale__price-action">112.16 USD</p>
            </div>
          </div>
        </a>
      </li>
      <li class="sale__item">
        <a href="./take-order-page.html" class="sale__link">
          <div class="sale__overflow">
            <picture>
              <source
                class="sale__img"
                srcset="
                  ./images/img-sale/g95-light-surround--x1.jpg 1x,
                  ./images/img-sale/g95-light-surround--x2.jpg 2x
                "
              />
              <img
                class="sale__img"
                src="./images/img-sale/g95-light-surround--x1.jpg"
                alt="G95 Light Surround Gaming Headset"
                width="285"
              />
            </picture>
            <div class="sale__list-text-cover">
              <p class="sale__text-cover">100% Brand new and high quality!</p>
              <p class="sale__text-cover">
                Ergonomic in design makes it more adjustable to use.
              </p>
              <p class="sale__text-cover">
                More fashionable for your daily use, such as playing games.
              </p>
              <p class="sale__text-cover">
                Built-in high sensitivity and noise reduction microphone.
              </p>
              <p class="sale__text-cover">
                It is not easy to break or deform, and wear comfortable, no
                pressure.
              </p>
            </div>
          </div>
          <div class="sale__content">
            <p class="sale__text">G95 Light Surround Gaming Headset</p>
            <div class="sale__price-wrap">
              <p class="sale__price">78.98 USD</p>
              <p class="sale__price-action">50.98 USD</p>
            </div>
          </div>
        </a>
      </li>
      <li class="sale__item sale-tablet sale-position-last">
        <a href="./take-order-page.html" class="sale__link">
          <div class="sale__overflow">
            <picture>
              <source
                class="sale__img"
                srcset="
                  ./images/img-sale/darchion-3200--x1.jpg 1x,
                  ./images/img-sale/darchion-3200--x2.jpg 2x
                "
              />
              <img
                class="sale__img"
                src="./images/img-sale/darchion-3200--x1.jpg"
                alt="DARSHION 3200 DPI MZ-17 Gaming Mouse"
                width="285"
              />
            </picture>
            <div class="sale__list-text-cover">
              <p class="sale__text-cover">100% Brand new and high quality!</p>
              <p class="sale__text-cover">
                Ergonomic in design makes it more adjustable to use.
              </p>
              <p class="sale__text-cover">
                More fashionable for your daily use, such as playing games.
              </p>
              <p class="sale__text-cover">
                Built-in high sensitivity and noise reduction microphone.
              </p>
              <p class="sale__text-cover">
                It is not easy to break or deform, and wear comfortable, no
                pressure.
              </p>
            </div>
          </div>
          <div class="sale__content">
            <p class="sale__text">DARSHION 3200 DPI MZ-17 Gaming Mouse</p>
            <div class="sale__price-wrap">
              <p class="sale__price">48.00 USD</p>
              <p class="sale__price-action">32.00 USD</p>
            </div>
          </div>
        </a>
      </li>
      <li class="sale__item sale-position">
        <a href="./take-order-page.html" class="sale__link">
          <div class="sale__overflow">
            <picture>
              <source
                class="sale__img"
                srcset="
                  ./images/img-sale/malloom-1200dpi-2.4ghz--x1.jpg 1x,
                  ./images/img-sale/malloom-1200dpi-2.4ghz--x2.jpg 2x
                "
              />
              <img
                class="sale__img"
                src="./images/img-sale/malloom-1200dpi-2.4ghz--x1.jpg"
                alt="Malloom 1200 DPI 2.4Ghz Wireless Mouse"
                width="285"
              />
            </picture>
            <div class="sale__list-text-cover">
              <p class="sale__text-cover">100% Brand new and high quality!</p>
              <p class="sale__text-cover">
                Ergonomic in design makes it more adjustable to use.
              </p>
              <p class="sale__text-cover">
                More fashionable for your daily use, such as playing games.
              </p>
              <p class="sale__text-cover">
                Built-in high sensitivity and noise reduction microphone.
              </p>
              <p class="sale__text-cover">
                It is not easy to break or deform, and wear comfortable, no
                pressure.
              </p>
            </div>
          </div>
          <div class="sale__content">
            <p class="sale__text">Malloom 1200 DPI 2.4Ghz Wireless Mouse</p>
            <div class="sale__price-wrap">
              <p class="sale__price">44.24 USD</p>
              <p class="sale__price-action">29.93 USD</p>
            </div>
          </div>
        </a>
      </li>
      <li class="sale__item sale-tablet">
        <a href="./take-order-page.html" class="sale__link">
          <div class="sale__overflow">
            <picture>
              <source
                class="sale__img"
                srcset="
                  ./images/img-sale/logitech-g230-stereo--x1.jpg 1x,
                  ./images/img-sale/logitech-g230-stereo--x2.jpg 2x
                "
              />
              <img
                class="sale__img"
                src="./images/img-sale/logitech-g230-stereo--x1.jpg"
                alt="Logitech G230 Stereo Gaming Headset"
                width="285"
              />
            </picture>
            <div class="sale__list-text-cover">
              <p class="sale__text-cover">100% Brand new and high quality!</p>
              <p class="sale__text-cover">
                Ergonomic in design makes it more adjustable to use.
              </p>
              <p class="sale__text-cover">
                More fashionable for your daily use, such as playing games.
              </p>
              <p class="sale__text-cover">
                Built-in high sensitivity and noise reduction microphone.
              </p>
              <p class="sale__text-cover">
                It is not easy to break or deform, and wear comfortable, no
                pressure.
              </p>
            </div>
          </div>
          <div class="sale__content">
            <p class="sale__text">Logitech G230 Stereo Gaming Headset</p>
            <div class="sale__price-wrap">
              <p class="sale__price">160.00 USD</p>
              <p class="sale__price-action">110.00 USD</p>
            </div>
          </div>
        </a>
      </li>
    </ul>
    <a class="sale__btn" href="./accessories-page.html">View all</a>
  </div>
</section>
