<main>
  <section class="order">
    <div class="order__wrap container">
      <h1 class="order__title">Take order</h1>
      <div class="price-mob-tab">
        <h2 class="order__subtitle">Xiberia K9 PRO PC Headset</h2>
        <div class="price-wrap">
          <picture>
            <source
              srcset="
                ./images/img-take-order/headphones-desc-1.jpg 1x,
                ./images/img-take-order/headphones-desc-2.jpg 2x
              "
              media="(min-width:1200px)"
            />
            <source
              srcset="
                ./images/img-take-order/headphones-tab-1.jpg 1x,
                ./images/img-take-order/headphones-tab-2.jpg 2x
              "
              media="(min-width:768px)"
            />
            <source
              srcset="
                ./images/img-take-order/headphones-1.jpg 1x,
                ./images/img-take-order/headphones-2.jpg 2x
              "
              media="(max-width:767px)"
            />
            <img
              class="order__img"
              src="./images/img-take-order/headphones-1.jpg"
              alt="headphones Xiberia"
            />
          </picture>

          <div class="order-price">
            <p class="order-price__old">65.14 USD</p>
            <p class="order-price__current">55.14 USD</p>
          </div>
        </div>
      </div>
      <div class="price-desktop">
        <picture>
          <source
            srcset="
              ./images/img-take-order/headphones-desc-1.jpg 1x,
              ./images/img-take-order/headphones-desc-2.jpg 2x
            "
            media="(min-width:1200px)"
          />
          <source
            srcset="
              ./images/img-take-order/headphones-tab-1.jpg 1x,
              ./images/img-take-order/headphones-tab-2.jpg 2x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./images/img-take-order/headphones-1.jpg 1x,
              ./images/img-take-order/headphones-2.jpg 2x
            "
            media="(max-width:767px)"
          />
          <img
            class="order__img"
            src="./images/img-take-order/headphones-1.jpg"
            alt="headphones Xiberia"
          />
        </picture>
        <div class="order-price">
          <h3 class="order__subtitle">Xiberia K9 PRO PC Headset</h3>
          <div class="order-price-desc">
            <p class="order-price__old">65.14 USD</p>
            <p class="order-price__current">55.14 USD</p>
          </div>
          <ul class="order-list">
            <li class="order-list__item">
              <picture>
                <source
                  srcset="
                    ./images/img-take-order/red-h-tab-1.jpg 1x,
                    ./images/img-take-order/red-h-tab-2.jpg 2x
                  "
                  media="(min-width:768px)"
                />
                <source
                  srcset="
                    ./images/img-take-order/red-h-1.jpg 1x,
                    ./images/img-take-order/red-h-2.jpg 2x
                  "
                  media="(max-width:767px)"
                />
                <img
                  srcset="./images/img-take-order/red-h-1.jpg"
                  alt="red headphones"
                  class="order-list__img"
                />
              </picture>
            </li>
            <li class="order-list__item">
              <picture>
                <source
                  srcset="
                    ./images/img-take-order/white-h-tab-1.jpg 1x,
                    ./images/img-take-order/white-h-tab-2.jpg 2x
                  "
                  media="(min-width:768px)"
                />
                <source
                  srcset="
                    ./images/img-take-order/white-h-1.jpg 1x,
                    ./images/img-take-order/white-h-2.jpg 2x
                  "
                  media="(max-width:767px)"
                />
                <img
                  srcset="./images/img-take-order/white-h-1.jpg"
                  alt="white headphones"
                  class="order-list__img"
                />
              </picture>
            </li>
            <li class="order-list__item">
              <picture>
                <source
                  srcset="
                    ./images/img-take-order/black-h-tab-1.jpg 1x,
                    ./images/img-take-order/black-h-tab-2.jpg 2x
                  "
                  media="(min-width:768px)"
                />
                <source
                  srcset="
                    ./images/img-take-order/black-h-1.jpg 1x,
                    ./images/img-take-order/black-h-2.jpg 2x
                  "
                  media="(max-width:767px)"
                />
                <img
                  srcset="./images/img-take-order/black-h-1.jpg"
                  alt="black headphones"
                  class="order-list__img"
                />
              </picture>
            </li>
            <li class="order-list__item">
              <picture>
                <source
                  srcset="
                    ./images/img-take-order/material-h-tab-1.jpg 1x,
                    ./images/img-take-order/material-h-tab-2.jpg 2x
                  "
                  media="(min-width:768px)"
                />
                <source
                  srcset="
                    ./images/img-take-order/material-h-1.jpg 1x,
                    ./images/img-take-order/material-h-2.jpg 2x
                  "
                  media="(max-width:767px)"
                />
                <img
                  srcset="./images/img-take-order/material-h-1.jpg"
                  alt="materials of headphones"
                  class="order-list__img"
                />
              </picture>
            </li>
          </ul>
        </div>
      </div>
      <ul class="order-list order-list-tab">
        <li class="order-list__item">
          <picture>
            <source
              srcset="
                ./images/img-take-order/red-h-tab-1.jpg 1x,
                ./images/img-take-order/red-h-tab-2.jpg 2x
              "
              media="(min-width:768px)"
            />
            <source
              srcset="
                ./images/img-take-order/red-h-1.jpg 1x,
                ./images/img-take-order/red-h-2.jpg 2x
              "
              media="(max-width:767px)"
            />
            <img
              srcset="./images/img-take-order/red-h-1.jpg"
              alt="red headphones"
              class="order-list__img"
            />
          </picture>
        </li>
        <li class="order-list__item">
          <picture>
            <source
              srcset="
                ./images/img-take-order/white-h-tab-1.jpg 1x,
                ./images/img-take-order/white-h-tab-2.jpg 2x
              "
              media="(min-width:768px)"
            />
            <source
              srcset="
                ./images/img-take-order/white-h-1.jpg 1x,
                ./images/img-take-order/white-h-2.jpg 2x
              "
              media="(max-width:767px)"
            />
            <img
              srcset="./images/img-take-order/white-h-1.jpg"
              alt="white headphones"
              class="order-list__img"
            />
          </picture>
        </li>
        <li class="order-list__item">
          <picture>
            <source
              srcset="
                ./images/img-take-order/black-h-tab-1.jpg 1x,
                ./images/img-take-order/black-h-tab-2.jpg 2x
              "
              media="(min-width:768px)"
            />
            <source
              srcset="
                ./images/img-take-order/black-h-1.jpg 1x,
                ./images/img-take-order/black-h-2.jpg 2x
              "
              media="(max-width:767px)"
            />
            <img
              srcset="./images/img-take-order/black-h-1.jpg"
              alt="black headphones"
              class="order-list__img"
            />
          </picture>
        </li>
        <li class="order-list__item">
          <picture>
            <source
              srcset="
                ./images/img-take-order/material-h-tab-1.jpg 1x,
                ./images/img-take-order/material-h-tab-2.jpg 2x
              "
              media="(min-width:768px)"
            />
            <source
              srcset="
                ./images/img-take-order/material-h-1.jpg 1x,
                ./images/img-take-order/material-h-2.jpg 2x
              "
              media="(max-width:767px)"
            />
            <img
              srcset="./images/img-take-order/material-h-1.jpg"
              alt="materials of headphones"
              class="order-list__img"
            />
          </picture>
        </li>
      </ul>
      <form class="contact-form" autocomplete="off">
        <p class="contact-form__subtitle form">contact us</p>
        <div class="contact-form__wrapper">
          <ul class="conract-form-wrap">
            <li class="form form-wrap">
              <label class="form__label" for="username">Name</label>
              <input
                class="form__input"
                type="text"
                name="username"
                id="username"
              />
            </li>
            <li class="form form-wrap">
              <label class="form__label" for="mail">Email</label>
              <input class="form__input" type="email" name="mail" id="mail" />
            </li>
            <li class="form form-wrap form-select">
              <div class="select-btn">
                <span class="btn-text">Color Option</span>
                <span class="arrow-down">
                  <img src="./images/img-take-order/1.png" alt="" />
                </span>
              </div>
              <ul class="list-items">
                <li class="item">
                  <span class="item-text">K9D Black Orange </span>
                </li>
                <li class="item">
                  <span class="item-text">K9D Silver Gray </span>
                </li>
                <li class="item">
                  <span class="item-text">K9U White Blue </span>
                </li>
              </ul>
            </li>
            <li class="form form-wrap form-select">
              <div class="select-btn select-quantity">
                <span class="btn-text">Quantity</span>
                <span class="arrow-down">
                  <img src="./images/img-take-order/1.png" alt="" />
                </span>
              </div>
              <ul class="list-items">
                <li class="item">
                  <span class="item-text">1</span>
                </li>
                <li class="item">
                  <span class="item-text">2</span>
                </li>
                <li class="item">
                  <span class="item-text">3</span>
                </li>
              </ul>
            </li>
            <li class="form form-wrap form-select">
              <div class="select-btn select-quantity">
                <span class="btn-text">Payment</span>
                <span class="arrow-down">
                  <img src="./images/img-take-order/1.png" alt="" />
                </span>
              </div>
              <ul class="list-items">
                <li class="item">
                  <span class="item-text">Cash</span>
                </li>
                <li class="item">
                  <span class="item-text">Card</span>
                </li>
                <li class="item">
                  <span class="item-text">PayPall</span>
                </li>
              </ul>
            </li>
          </ul>
          <div class="contact-feedback form">
            <label class="contact-feedback__label" for="feedback"
              >Leave your message</label
            >
            <textarea
              class="contact-feedback__textarea"
              name="feedback"
              id="feedback"
            ></textarea>
          </div>
        </div>
        <div class="contact-btn-wrap">
          <button
            class="contact-btn contact-btn__buy"
            type="button"
            data-go-open
          >
            buy it now
          </button>
          <button
            class="contact-btn contact-btn__add"
            type="button"
            data-keep-open
          >
            add to cart
          </button>
        </div>
      </form>
    </div>
  </section>
</main>

<div class="backdrop is-hidden" data-go>
  <div class="modal">
    <button data-go-close type="button">
      <svg class="button__cross" width="15" height="15">
        <use href="./images/img-take-order/symbol-defs.svg#icon-cross-2"></use>
      </svg>
    </button>
    <div class="modal-wrapper">
      <p class="modal-wrapper__descr">
        Excellent choice! <br />
        Let's move on to the checkout!
      </p>
      <a href="./index.html" class="modal-wrapper__link lets-go">Let's go!</a>
    </div>
  </div>
</div>

<div class="backdrop is-hidden" data-keep>
  <div class="modal">
    <button data-keep-close type="button">
      <svg class="button__cross" width="15" height="15">
        <use href="./images/img-take-order/symbol-defs.svg#icon-cross-2"></use>
      </svg>
    </button>
    <div class="modal-wrapper">
      <p class="modal-wrapper__descr">
        Thank you <br />
        for your order! <br />
        We will contact you soon!
      </p>
      <a
        href="./accessories-page.html"
        class="modal-wrapper__link keep-shopping"
        >Keep shopping</a
      >
    </div>
  </div>
</div>

<script src="./js/select.js"></script>
<script src="./js/go.js"></script>
<script src="./js/keep.js"></script>
